/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.loader {
  background-image: linear-gradient(315deg, #63d471 0%, #233329 74%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 99999999;
}

.loader .loader__wrapper {
  position: relative;
  width: 250px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-family: helvetica, arial, sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 22px;
  color: #41E063;
  letter-spacing: 0.2em;
}

.loader .loader__wrapper::before, .loader .loader__wrapper::after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background: #41E063;
  position: absolute;
  -webkit-animation: load .7s infinite alternate ease-in-out;
          animation: load .7s infinite alternate ease-in-out;
}

.loader .loader__wrapper::before {
  top: 0;
}

.loader .loader__wrapper::after {
  bottom: 0;
}

@-webkit-keyframes load {
  0% {
    left: 0;
    height: 30px;
    width: 15px;
  }
  50% {
    height: 8px;
    width: 40px;
  }
  100% {
    left: 235px;
    height: 30px;
    width: 15px;
  }
}

@keyframes load {
  0% {
    left: 0;
    height: 30px;
    width: 15px;
  }
  50% {
    height: 8px;
    width: 40px;
  }
  100% {
    left: 235px;
    height: 30px;
    width: 15px;
  }
}

.navbar {
  width: 73.125rem;
  height: 6.625rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 5;
  position: relative;
}

.navbar .logoblack {
  display: none;
}

.navbar .burger {
  display: none;
}

.navbar .menu {
  margin-left: 10.625rem;
  width: 35.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .menu ul {
  width: 100%;
  height: 100%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.navbar .menu ul li {
  margin-right: 3.063rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: relative;
}

.navbar .menu ul li a {
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-weight: 700;
  font-style: normal;
  line-height: 1.156rem;
  font-size: 0.938rem;
  text-decoration: none;
  display: inline-block;
  width: 100%;
}

.navbar .menu ul li a:hover {
  color: #41E063 !important;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.navbar .menu ul li:last-child {
  margin-right: 0;
}

.navbar .wrapper {
  position: absolute;
  top: 30%;
  right: 8.125rem;
}

.navbar .search-box {
  width: 6.25rem;
  height: 2.5rem;
  position: relative;
}

.navbar .boxactive {
  width: 12.5rem;
}

.navbar .input {
  position: absolute;
  top: 0.063rem;
  right: 3.125rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 0px;
  height: 2.5rem;
  opacity: 0;
  outline: none;
  font-size: 1.125rem;
  border-radius: 50px;
  color: #29313a;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.navbar .input ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #62d474;
}

.navbar ::-moz-placeholder {
  /* Firefox 19+ */
  color: #62d474;
}

.navbar :-ms-input-placeholder {
  /* IE 10+ */
  color: #62d474;
}

.navbar :-moz-placeholder {
  /* Firefox 18- */
  color: #62d474;
}

.navbar .btn {
  position: absolute;
  width: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 2.5rem;
  background: unset;
  border-radius: 50%;
  right: 0;
  top: 0.063rem;
  cursor: pointer;
  text-align: center;
  font-size: 1.25rem;
  color: #fff;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.navbar .btn i {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  font-size: 18px;
}

.navbar .input.active {
  width: 12.5rem;
  height: 2.5rem;
  right: 1.25rem;
  border: 3px solid #41E063;
  opacity: 1;
  padding: 0 30px 0 20px;
}

.navbar .menu_ul_active {
  -webkit-transform: translateX(-20%);
          transform: translateX(-20%);
  -webkit-transition: 0.8s;
  transition: 0.8s;
  width: 37.75rem;
}

.navbar .btn.animate {
  -webkit-transform: rotate(-360deg);
          transform: rotate(-360deg);
  right: 1.25rem;
  background-color: #41E063;
}

.navbar .btn1-animate {
  margin-left: 5.563rem;
}

@media only screen and (max-device-width: 990px) {
  .navbar {
    width: 100%;
    height: 5rem;
    background-color: white;
    padding: 0 28.8px 0 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-bottom: 1px solid #ccccccc7;
  }
  .navbar .logoblack {
    display: block;
  }
  .navbar a:nth-child(1) {
    display: none;
  }
  .navbar .burger {
    display: block;
    cursor: pointer;
  }
  .navbar .menu {
    display: none;
  }
  .navbar .wrapper {
    display: none;
  }
}

@media only screen and (max-device-width: 480px) {
  .navbar {
    height: 4.375rem !important;
  }
}

.btn1 {
  text-decoration: none;
  position: absolute;
  right: 0;
  top: 30%;
  width: 8.063rem;
  height: 2.5rem;
  border-radius: 20px;
  border: 1px solid #41E063;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-style: bold;
  font-weight: 700;
  color: #41E063;
  font-size: 0.938rem;
  line-height: 1.156rem;
}

.btn1:hover {
  background-color: #41E063;
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media only screen and (max-device-width: 990px) {
  .btn1 {
    display: none;
  }
}

.double .double__main {
  width: 100%;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  background-color: #F5F5F5;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */
}

.double .double__main::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}

.double .double__main__box {
  width: 73.125rem;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.875rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
}

.double .double__main__box__main {
  width: 23.125rem;
  height: 23.938rem;
}

.double .double__main__box__main__up {
  font-weight: 700;
  font-style: normal;
  font-size: 4rem;
  line-height: 5rem;
  color: #333333;
  margin-top: 3.25rem;
  margin-left: -2px;
}

.double .double__main__box__main__down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -1.8rem;
}

.double .double__main__box__main__down__stroke {
  width: 11.875rem;
  height: 0.188rem;
  background-color: #41E063;
  margin-top: 0.313rem;
}

.double .double__main__box__main__down__groups {
  margin-left: 0.688rem;
  font-weight: 300;
  font-style: normal;
  font-size: 3rem;
  line-height: 3.75rem;
  color: #333333;
}

.double .double__main__box__main p {
  width: 16.875rem;
  color: #828282;
  font-weight: 400;
  font-size: 0.875rem;
  font-style: normal;
  line-height: 1.094rem;
  margin-top: 1.625rem;
}

.double .double__main__box__main a {
  width: 10.625rem;
  height: 2.5rem;
  border-radius: 25px;
  font-weight: 700;
  font-style: bold;
  font-size: 1rem;
  line-height: 1.231rem;
  background-color: #41E063;
  text-decoration: none;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.688rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.double .double__main__box__main a:hover {
  background-color: #39c958;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.double .double__main__box__item {
  width: 23.125rem;
  height: 23.938rem;
  background-color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.double .double__main__box__item:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: rgba(65, 224, 99, 0.3) -5px 5px, rgba(65, 224, 99, 0.2) -10px 10px, rgba(65, 224, 99, 0) -20px 20px, rgba(65, 224, 99, 0.05) -15px 15px;
          box-shadow: rgba(65, 224, 99, 0.3) -5px 5px, rgba(65, 224, 99, 0.2) -10px 10px, rgba(65, 224, 99, 0) -20px 20px, rgba(65, 224, 99, 0.05) -15px 15px;
  border: none;
}

.double .double__main__box__item img {
  width: 23.125rem;
  height: 11.063rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.double .double__main__box__item h3 {
  width: 16.25rem;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  font-weight: 700;
  font-style: normal;
  font-size: 1.25rem;
  line-height: 1.625rem;
  color: #333333;
  margin-top: 1.938rem;
  margin-left: 1.313rem;
}

.double .double__main__box__item .calendar {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 1.313rem;
  margin-top: 1.75rem;
}

.double .double__main__box__item .calendar img {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
}

.double .double__main__box__item .calendar p {
  color: #828282;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.138rem;
}

.double .double__main__box__item .detail {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 1.313rem;
  margin-top: 2.063rem;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.double .double__main__box__item .detail h4 {
  font-weight: 600;
  font-style: normal;
  font-size: 0.875rem;
  line-height: 1.138rem;
  color: #4F4F4F;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.double .double__main__box__item .detail i {
  font-size: 0.625rem;
  color: #4F4F4F;
  margin-left: 0.875rem;
  margin-top: 1px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.double .double__main__box__item .detail:hover {
  cursor: pointer;
}

.double .double__main__box__item .detail:hover h4 {
  color: #41E063;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.double .double__main__box__item .detail:hover i {
  color: #41E063;
  -webkit-transform: translateX(30%);
          transform: translateX(30%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.double .tabanimation {
  -webkit-animation: anima 0.55s linear;
          animation: anima 0.55s linear;
}

@-webkit-keyframes anima {
  0% {
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes anima {
  0% {
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.double .tabanimationreduce {
  -webkit-animation: animareduce 0.55s linear;
          animation: animareduce 0.55s linear;
}

@-webkit-keyframes animareduce {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
    opacity: 0;
  }
}

@keyframes animareduce {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
    opacity: 0;
  }
}

.popup__all .popup .dropdown {
  width: 29.375rem;
  display: inline-block;
  background-color: #fff;
  margin-top: 1.281rem;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  position: relative;
  font-size: 0.875rem;
  color: #474747;
  height: 3.125rem;
  text-align: left;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.dropdown .select {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.dropdown .select .label {
  margin-left: 1.375rem;
  display: block;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.231rem;
  color: #ABABAB;
}

.dropdown .select > img {
  font-size: 13px;
  color: #888;
  cursor: pointer;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  line-height: 20px;
  margin-right: 1rem;
}

.dropdown:active {
  background-color: #f8f8f8;
}

.dropdown.active:hover,
.dropdown.active {
  -webkit-box-shadow: 0 0 4px #cccccc;
          box-shadow: 0 0 4px #cccccc;
  border-radius: 2px 2px 0 0;
  background-color: #f8f8f8;
}

.dropdown.active .select > img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.dropdown .dropdown-menu {
  position: absolute;
  background-color: #fff;
  width: 100%;
  left: 0;
  margin-top: 1px;
  -webkit-box-shadow: 0 1px 2px #cccccc;
          box-shadow: 0 1px 2px #cccccc;
  border-radius: 0 1px 2px 2px;
  overflow: hidden;
  display: none;
  max-height: 144px;
  overflow-y: auto;
  z-index: 9;
}

.dropdown .dropdown-menu li {
  padding: 10px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.dropdown .dropdown-menu li:hover {
  background-color: #F5F5F5;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.dropdown .dropdown-menu {
  padding: 0;
  list-style: none;
}

.popupanimation {
  -webkit-animation: popupanima 0.2s linear;
          animation: popupanima 0.2s linear;
}

@-webkit-keyframes popupanima {
  0% {
    -webkit-transform: translateX(40%) scale(0.4);
            transform: translateX(40%) scale(0.4);
  }
  100% {
    -webkit-transform: translateX(0%) scale(1);
            transform: translateX(0%) scale(1);
  }
}

@keyframes popupanima {
  0% {
    -webkit-transform: translateX(40%) scale(0.4);
            transform: translateX(40%) scale(0.4);
  }
  100% {
    -webkit-transform: translateX(0%) scale(1);
            transform: translateX(0%) scale(1);
  }
}

.popuphidden {
  -webkit-animation: popuphidden 0.2s linear;
          animation: popuphidden 0.2s linear;
}

@-webkit-keyframes popuphidden {
  0% {
    -webkit-transform: translateX(0%) scale(1);
            transform: translateX(0%) scale(1);
  }
  100% {
    -webkit-transform: translateX(40%) scale(0.4);
            transform: translateX(40%) scale(0.4);
  }
}

@keyframes popuphidden {
  0% {
    -webkit-transform: translateX(0%) scale(1);
            transform: translateX(0%) scale(1);
  }
  100% {
    -webkit-transform: translateX(40%) scale(0.4);
            transform: translateX(40%) scale(0.4);
  }
}

.popup__all {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 99999;
  background-color: rgba(0, 0, 0, 0.342);
  -webkit-transform: translateX(0) scale(1);
          transform: translateX(0) scale(1);
}

.popup__all .x__icon {
  display: none;
  cursor: pointer;
}

@media only screen and (min-device-width: 768px) and (max-device-height: 550px) {
  .popup__all .popup-submit {
    margin-bottom: 10px !important;
  }
  .popup__all .label {
    font-size: 11px  !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 5px 0;
  }
  .popup__all .label img {
    margin-right: 0.344rem;
    width: 12px !important;
    height: 12px !important;
  }
  .popup__all .popup {
    width: 650px !important;
    height: 90vh !important;
    overflow-x: hidden;
    overflow-y: auto !important;
    padding-top: 15px;
  }
  .popup__all .popup h1 {
    margin-top: 30px !important;
  }
  .popup__all .popup p {
    padding: 0 10px !important;
  }
  .popup__all .popup .popup-inputs {
    width: 89.33% !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: unset !important;
  }
  .popup__all .popup .popup-inputs .name__field {
    margin-bottom: 3.42vh !important;
  }
  .popup__all .popup .popup-input-up {
    height: -webkit-max-content !important;
    height: -moz-max-content !important;
    height: max-content !important;
  }
  .popup__all .popup .popup-input-up div {
    width: 100% !important;
  }
  .popup__all .popup .popup-input-up div input {
    width: 100% !important;
  }
  .popup__all .popup .popup-input-down {
    margin: 0 !important;
  }
  .popup__all .popup .popup-input-down .label {
    top: 44% !important;
    bottom: unset !important;
  }
  .popup__all .popup .popup-input-down .email__field {
    margin-top: 3.42vh !important;
  }
  .popup__all .popup .popup-input-down .number__field {
    margin-top: 5.42vh  !important;
  }
  .popup__all .popup .popup-input-down div {
    width: 100% !important;
  }
  .popup__all .popup .popup-input-down div input {
    width: 100% !important;
  }
  .popup__all .popup .header {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    width: 89.9% !important;
    margin: 0 auto;
    height: 70px !important;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .popup__all .popup .header img:nth-child(1) {
    width: 130px !important;
    height: 30px !important;
  }
  .popup__all .popup .header .x__icon {
    display: block !important;
    width: 12px !important;
    height: 12px !important;
  }
  .popup__all .popup .dropdown {
    width: 89.3% !important;
    margin-top: 3.42vh  !important;
  }
  .popup__all .popup .popup-textarea {
    height: 14vh !important;
    width: 89.33% !important;
    margin-top: 3.42vh  !important;
  }
  .popup__all .popup .popup-textarea textarea, .popup__all .popup .popup-textarea .textarea {
    width: 100% !important;
    height: 100% !important;
    padding: 0 !important;
  }
  .popup__all .popup .popup-textarea textarea {
    padding-top: 10px !important;
    padding-left: 10px !important;
  }
}

@media only screen and (max-device-width: 990px) {
  .popup__all .popup-submit {
    margin-bottom: 10px !important;
  }
  .popup__all .popup {
    width: 100% !important;
    height: 100vh !important;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .popup__all .popup h1 {
    margin-top: 30px !important;
  }
  .popup__all .popup p {
    padding: 0 10px !important;
  }
  .popup__all .popup .popup-inputs {
    width: 89.33% !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: unset !important;
  }
  .popup__all .popup .popup-inputs .name__field {
    margin-bottom: 30px !important;
  }
  .popup__all .popup .popup-input-up {
    height: -webkit-max-content !important;
    height: -moz-max-content !important;
    height: max-content !important;
  }
  .popup__all .popup .popup-input-up div {
    width: 100% !important;
  }
  .popup__all .popup .popup-input-up div input {
    width: 100% !important;
  }
  .popup__all .popup .popup-input-down {
    margin: 0 !important;
  }
  .popup__all .popup .popup-input-down .label {
    top: 51% !important;
    bottom: unset !important;
  }
  .popup__all .popup .popup-input-down .email__field {
    margin-top: 30px !important;
  }
  .popup__all .popup .popup-input-down .number__field {
    margin-top: 30px  !important;
  }
  .popup__all .popup .popup-input-down div {
    width: 100% !important;
  }
  .popup__all .popup .popup-input-down div input {
    width: 100% !important;
  }
  .popup__all .popup .header {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    width: 89.9% !important;
    margin: 0 auto;
    height: 70px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 15px 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .popup__all .popup .header img:nth-child(1) {
    width: 130px !important;
    height: 30px !important;
  }
  .popup__all .popup .header .x__icon {
    display: block !important;
    width: 12px !important;
    height: 12px !important;
  }
  .popup__all .popup .dropdown {
    width: 89.3% !important;
    margin-top: 3.42vh  !important;
  }
  .popup__all .popup .popup-textarea {
    height: 14vh !important;
    width: 89.33% !important;
    margin-top: 3.42vh  !important;
  }
  .popup__all .popup .popup-textarea textarea, .popup__all .popup .popup-textarea .textarea {
    width: 100% !important;
    height: 100% !important;
    padding: 0 !important;
  }
  .popup__all .popup .popup-textarea textarea {
    padding-top: 10px !important;
    padding-left: 10px !important;
  }
}

.popup__all .popup {
  width: 40rem;
  height: 40.625rem;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup__all .popup * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.popup__all .popup .header {
  display: none;
}

.popup__all .popup h1 {
  text-align: center;
  color: #333333;
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 2.344rem;
  margin-top: 2.5rem;
}

.popup__all .popup p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.3rem;
  color: #828282;
  text-align: center;
  margin-top: 0.438rem;
  margin-bottom: 2.5rem;
}

.popup__all .popup .popup-input-up {
  margin-bottom: 0 !important;
}

.popup__all .popup .popup-inputs {
  width: 34.313rem;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2.813rem;
  position: relative;
}

.popup__all .popup .popup-inputs:nth-child(5) {
  margin: 1.875rem auto;
}

.popup__all .popup .popup-inputs .label {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  font-style: normal;
  font-weight: 400;
  line-height: 1.019rem;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #979797;
  position: absolute;
  bottom: -50%;
  left: 0;
}

.popup__all .popup .popup-inputs .label img {
  margin-right: 0.344rem;
}

.popup__all .popup .popup-inputs input {
  width: 15.8rem;
  height: 2.813rem;
  outline: none;
  border: 0.5px solid rgba(0, 0, 0, 0.3);
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  padding-top: 0.938rem;
  padding-left: 1.375rem;
  padding-bottom: 0.938rem;
  line-height: 1.231rem;
  /* Chrome, Safari, Edge, Opera */
  /* Firefox */
}

.popup__all .popup .popup-inputs input::-webkit-outer-spin-button, .popup__all .popup .popup-inputs input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.popup__all .popup .popup-inputs input[type=number] {
  -moz-appearance: textfield;
}

.popup__all .popup .popup-inputs input::-webkit-input-placeholder {
  color: #C4C4C4;
}

.popup__all .popup .popup-inputs input:-ms-input-placeholder {
  color: #C4C4C4;
}

.popup__all .popup .popup-inputs input::-ms-input-placeholder {
  color: #C4C4C4;
}

.popup__all .popup .popup-inputs input::placeholder {
  color: #C4C4C4;
}

.popup__all .popup .dropdown {
  width: 34.313rem;
  height: 2.813rem;
  margin-top: 0;
}

.popup__all .popup .dropdown .select {
  height: 100%;
  height: 2.813rem;
}

.popup__all .popup .popup-textarea {
  width: 34.313rem;
  height: 8.063rem;
  margin-top: 2.5rem;
}

.popup__all .popup .popup-textarea .popup-input {
  width: 34.313rem;
  height: 8.063rem;
  outline: none;
  border: none;
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding-top: 1.1rem;
  padding-left: 1rem;
  padding-bottom: 5.938rem;
  line-height: 1.231rem;
  resize: none;
  overflow: hidden;
}

.popup__all .popup .popup-textarea .popup-input::-webkit-input-placeholder {
  color: #C4C4C4;
}

.popup__all .popup .popup-textarea .popup-input:-ms-input-placeholder {
  color: #C4C4C4;
}

.popup__all .popup .popup-textarea .popup-input::-ms-input-placeholder {
  color: #C4C4C4;
}

.popup__all .popup .popup-textarea .popup-input::placeholder {
  color: #C4C4C4;
}

.popup__all .popup .popup-submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2rem;
}

.popup__all .popup .popup-submit input {
  background-color: #41E063;
  width: 16.25rem;
  height: 3.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  color: white;
  font-size: 1rem;
  line-height: 1.231rem;
  border-radius: 3px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.popup__all .popup .popup-submit input:hover {
  background-color: #39c958;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.mobile__navbar {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 10000;
  overflow-y: scroll !important;
  -webkit-overflow-scrolling: touch;
}

.mobile__navbar .mobile__navbar__header {
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 30px 0 20px;
}

.mobile__navbar .mobile__navbar__header img:nth-child(2) {
  width: 12px;
  height: 12px;
  cursor: pointer;
}

.mobile__navbar .mobile__navbar__search {
  width: 89.33%;
  max-width: 450px;
  height: 50px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 40px;
  position: relative;
}

.mobile__navbar .mobile__navbar__search .btn {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 15px;
  left: 15px;
}

.mobile__navbar .mobile__navbar__search .btn img {
  width: 100%;
  height: 100%;
}

.mobile__navbar .mobile__navbar__search input {
  width: 100%;
  height: 100%;
  outline: none;
  padding: 15px 20px 15px 55px;
  background-color: #F5F5F5;
  border: none;
}

.mobile__navbar .mobile__navbar__search input::-webkit-input-placeholder {
  color: #C4C4C4;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19.78px;
}

.mobile__navbar .mobile__navbar__search input:-ms-input-placeholder {
  color: #C4C4C4;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19.78px;
}

.mobile__navbar .mobile__navbar__search input::-ms-input-placeholder {
  color: #C4C4C4;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19.78px;
}

.mobile__navbar .mobile__navbar__search input::placeholder {
  color: #C4C4C4;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19.78px;
}

.mobile__navbar .mobile__navbar__menu {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

@media only screen and (min-device-width: 480px) {
  .mobile__navbar .mobile__navbar__menu li a {
    text-align: center;
    padding-left: 0 !important;
  }
}

.mobile__navbar .mobile__navbar__menu li {
  width: 100%;
  height: 49px;
  border-top: 1px solid rgba(179, 179, 179, 0.3);
}

.mobile__navbar .mobile__navbar__menu li:last-child {
  border-bottom: 1px solid rgba(179, 179, 179, 0.3);
}

.mobile__navbar .mobile__navbar__menu li a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  font-weight: 700;
  font-size: 15px;
  font-style: normal;
  line-height: 18.54px;
  color: #333333;
  padding: 15px 0 15px 45px;
  display: inline-block;
}

.mobile__navbar .btn1 {
  position: static;
  margin: 40px auto 20px auto;
  width: 129px;
  height: 40px;
  font-size: 15px;
  font-weight: 700;
  font-style: normal;
  line-height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mobile__navbar .mobile__navbar__links {
  height: 74px;
  width: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: static;
  margin: 0 auto;
  margin-top: 200px !important;
}

.mobile__navbar .mobile__navbar__links a {
  text-decoration: none;
  margin-right: 60px;
  color: #333333;
}

.mobile__navbar .mobile__navbar__links i {
  font-size: 20px;
}

.fixed__footer {
  width: 100%;
  height: 70px;
  background-color: #41E063;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9999;
}

@media only screen and (max-device-width: 480px) {
  .fixed__footer {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

.fixed__footer i {
  font-size: 20px;
}

.fixed__footer .fixed__footer__iconleft {
  width: 50px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fixed__footer .fixed__footer__iconleft .fab {
  color: white;
  text-decoration: none;
}

.fixed__footer .fixed__footer__iconright {
  width: 50px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fixed__footer .fixed__footer__iconright .fab {
  color: white;
  text-decoration: none;
}

footer {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

@media only screen and (max-device-width: 990px) {
  footer .footer__down__text {
    margin: 0 12% 0 12% !important;
  }
}

@media only screen and (max-device-width: 760px) {
  footer .footer__up {
    padding-top: 0 !important;
    height: 120px !important;
  }
  footer .footer__up__address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100% !important;
  }
  footer .footer__up__address__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 80% !important;
    height: 40px !important;
  }
  footer .footer__up__menu {
    display: none !important;
  }
  footer .footer__down {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    height: 156px !important;
    -ms-flex-pack: distribute !important;
        justify-content: space-around !important;
    padding: 10px 0;
  }
  footer .footer__down__link {
    width: 30% !important;
  }
  footer .footer__down__link i {
    font-size: 20px;
  }
  footer .footer__down__link a:nth-child(1) {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  footer .footer__down :nth-child(2) {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

@media only screen and (max-device-width: 480px) {
  footer {
    display: none !important;
  }
}

footer .footer__up {
  width: 100%;
  height: 11.063rem;
  background-color: #F5F5F5;
  padding-top: 3.063rem;
}

footer .footer__up__menu {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .footer__up__menu ul {
  width: 35.75rem;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer__up__menu ul a {
  color: #333333;
  font-style: normal;
  font-weight: 700;
  line-height: 1.156rem;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

footer .footer__up__menu ul a:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #828282;
}

footer .footer__up__address {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 3.113rem;
}

footer .footer__up__address__item {
  width: 31.25rem;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer__up__address__item p {
  font-weight: 400;
  font-style: normal;
  font-size: 0.875rem;
  line-height: 1.081rem;
  color: #828282;
}

footer .footer__down {
  width: 100%;
  height: 3.938rem;
  background-color: #41E063;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer__down__text {
  font-style: normal;
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 2.15rem;
  color: white;
  margin-left: 6.75rem;
  margin-right: 9.063rem;
}

footer .footer__down__link {
  width: 5.75rem;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer__down__link i {
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

footer .footer__down__link i:hover {
  color: #828282;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

@media only screen and (min-device-width: 1350px) {
  html {
    font-size: 16px;
  }
}

@media only screen and (max-device-width: 1349px) {
  html {
    font-size: 12.7px;
  }
}

@media only screen and (max-device-width: 990px) {
  html {
    font-size: 16px;
  }
}

button, input, select, textarea {
  font-family: "Roboto", sans-serif;
}

::-webkit-input-placeholder {
  font-family: "Roboto", sans-serif;
}

:-moz-placeholder {
  font-family: "Roboto", sans-serif;
}

::-moz-placeholder {
  font-family: "Roboto", sans-serif;
}

:-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
}

::-moz-selection {
  background-color: #41E063;
  color: #fff;
}

::selection {
  background-color: #41E063;
  color: #fff;
}

.wrapper-finish {
  display: none;
}

.wrapper-animation {
  -webkit-animation: wrapperanima 1s linear;
          animation: wrapperanima 1s linear;
}

@-webkit-keyframes wrapperanima {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes wrapperanima {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

header {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  position: absolute;
  top: 0;
  z-index: 9999;
  background-color: rgba(236, 236, 236, 0.5);
  border-bottom: 1px solid #ccccccc7;
}

.navbar a:nth-child(1) {
  display: block !important;
}

.navbar i {
  color: #333333;
}

.navbar ul li {
  position: relative;
}

.navbar ul li a {
  color: #333333 !important;
}

.navbar ul li:nth-child(2) a {
  font-weight: 400 !important;
}

.navbar ul li:nth-child(2) a:hover {
  color: #333333 !important;
}

.navbar ul li:nth-child(2) span {
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;
  margin-top: 0.313rem;
  width: 2.688rem;
  height: 0.188rem;
  background-color: #41E063;
}

.mobile__navbar {
  display: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.mobile__navbar__active {
  display: block;
  -webkit-animation: navbar__menu__animation 0.5s linear;
          animation: navbar__menu__animation 0.5s linear;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@-webkit-keyframes navbar__menu__animation {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes navbar__menu__animation {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}

.downmenu {
  width: 100%;
  height: 6.25rem;
  margin-top: 6.625rem;
}

@media only screen and (max-device-width: 990px) {
  .downmenu {
    display: none !important;
  }
}

.downmenu__wrapper {
  width: 73.125rem;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.downmenu__wrapper img {
  margin-right: 1.234rem;
  margin-top: 0.1rem;
  margin-left: 0.531rem;
}

.downmenu__wrapper a {
  text-decoration: none;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: inline-block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-weight: bold;
  font-style: normal;
  font-size: 0.875rem;
  line-height: 1.138rem;
  color: #333333;
}

.downmenu__wrapper a:hover {
  color: #828282;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.programs {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  background-color: #F5F5F5;
}

@media only screen and (max-device-width: 990px) {
  .programs {
    background-color: unset !important;
  }
}

.programs__left {
  width: 73.125rem;
  height: 100%;
  margin: 0 auto;
  padding-top: 7rem;
  padding-bottom: 7.313rem;
}

@media only screen and (max-device-width: 990px) {
  .programs__left {
    width: 90% !important;
    padding: unset !important;
    margin-top: 300px !important;
  }
  .programs__left__wrapper {
    width: 100% !important;
    background-color: #F5F5F5;
    padding: 4% !important;
  }
  .programs__left__wrapper__up h1 {
    font-size: 2.5rem !important;
    margin-right: 30px !important;
  }
}

@media only screen and (max-device-width: 480px) {
  .programs__left {
    width: 90% !important;
    margin-left: 0 auto !important;
    margin-top: 247px !important;
  }
  .programs__left__wrapper__up {
    margin-bottom: 0 !important;
  }
  .programs__left__wrapper__up h1 {
    font-size: 37.5px !important;
    margin-right: 10px !important;
  }
  .programs__left__wrapper__up__stroke {
    width: 41px !important;
  }
}

.programs__left__wrapper {
  width: 37.5rem;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding-right: 3.75rem;
}

.programs__left__wrapper__up {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.875rem;
}

.programs__left__wrapper__up h1 {
  font-weight: 700;
  font-style: normal;
  font-size: 4rem;
  line-height: 5rem;
  color: #333333;
  margin-right: 3.438rem;
  margin-left: -0.2rem;
}

.programs__left__wrapper__up__stroke {
  width: 6.375rem;
  height: 0.188rem;
  background-color: #41E063;
  margin-top: 0.5rem;
}

.programs__left__wrapper__text {
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  text-align: justify;
  line-height: 1.6rem;
  color: #333333;
}

.programs__img {
  width: 49.2vw;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

@media only screen and (max-device-width: 990px) {
  .programs__img {
    width: 100% !important;
    height: 42vw !important;
    z-index: -5;
  }
}

@media only screen and (max-device-width: 760px) {
  .programs__img {
    width: 100% !important;
    height: 70vw !important;
    z-index: -5;
  }
}

@media only screen and (max-device-width: 480px) {
  .programs__img {
    height: 88vw !important;
    margin-top: 60px !important;
  }
}

.programs__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.tabs {
  margin-top: 7.5rem;
  width: 100%;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  border: none;
}

@media only screen and (max-device-width: 480px) {
  .tabs {
    margin-top: 40px !important;
  }
}

.tabs .tab__active .tab__icon {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #333333;
}

.double {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 3.063rem;
  margin-bottom: 7rem;
}

@media only screen and (max-device-width: 990px) {
  .double__main__box {
    width: 85% !important;
    gap: 8vw !important;
    margin: 0 auto !important;
  }
  .double__main__box__item {
    width: 45% !important;
  }
  .double__main__box__item > img {
    width: 100% !important;
  }
  .double__main__box__item h3 {
    width: 80% !important;
  }
}

@media only screen and (max-device-width: 760px) {
  .double__main__box {
    width: 60% !important;
  }
  .double__main__box__item {
    width: 100% !important;
  }
}

@media only screen and (max-device-width: 480px) {
  .double {
    margin-top: 30px !important;
  }
  .double__main__box {
    width: 89.33% !important;
  }
}

.double__main {
  background-color: white !important;
  margin-top: 0;
}

.double__main__box__item {
  border: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.double .main__active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.popup__all .bg__border {
  position: absolute;
  background-color: red;
  z-index: 4;
}

.popup__all .bg__border:nth-child(2) {
  top: 0;
  left: 0;
  width: 2px;
  height: 99%;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

.popup__all .bg__border:nth-child(3) {
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.popup__all .bg__border:nth-child(4) {
  top: 0;
  right: 0;
  width: 2px;
  height: 99%;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

.popup__all .bg__border:nth-child(5) {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.popup__all .bg__border__animation_1 {
  -webkit-transform-origin: bottom !important;
          transform-origin: bottom !important;
  -webkit-transform: scaleY(1) !important;
          transform: scaleY(1) !important;
  -webkit-transition: -webkit-transform 0.5s !important;
  transition: -webkit-transform 0.5s !important;
  transition: transform 0.5s !important;
  transition: transform 0.5s, -webkit-transform 0.5s !important;
}

.popup__all .bg__border__animation_2 {
  -webkit-transform-origin: left !important;
          transform-origin: left !important;
  -webkit-transform: scaleX(1) !important;
          transform: scaleX(1) !important;
  -webkit-transition: -webkit-transform 0.5s !important;
  transition: -webkit-transform 0.5s !important;
  transition: transform 0.5s !important;
  transition: transform 0.5s, -webkit-transform 0.5s !important;
}

.popup__all .bg__border__animation_3 {
  -webkit-transform-origin: top !important;
          transform-origin: top !important;
  -webkit-transform: scaleY(1) !important;
          transform: scaleY(1) !important;
  -webkit-transition: -webkit-transform 0.5s !important;
  transition: -webkit-transform 0.5s !important;
  transition: transform 0.5s !important;
  transition: transform 0.5s, -webkit-transform 0.5s !important;
}

.popup__all .bg__border__animation_4 {
  -webkit-transform-origin: right !important;
          transform-origin: right !important;
  -webkit-transform: scaleX(1) !important;
          transform: scaleX(1) !important;
  -webkit-transition: -webkit-transform 0.5s !important;
  transition: -webkit-transform 0.5s !important;
  transition: transform 0.5s !important;
  transition: transform 0.5s, -webkit-transform 0.5s !important;
}

.popup__all .dropdown {
  z-index: 5;
}

.popup__all .form__item {
  position: relative;
}

.popup__all .name__field, .popup__all .surname__field, .popup__all .email__field, .popup__all .number__field, .popup__all .textarea {
  position: relative;
}

.fixed__footer .btn1 {
  background-color: white;
  color: #41E063;
  width: 110px;
  height: 40px;
  display: block;
  position: static;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 20px;
}
