{% extends 'base.html' %}
{% load static %}
{% block title %}
  Haqqımızda
{% endblock title %}
{% block css %}
<link rel="stylesheet" href="{% static 'assets/css/about.css' %}">

{% endblock css %}


    
{% block content %}
  
    <!-- downmenu -->
    <section class="downmenu">
        <div class="downmenu__wrapper">
            <a href="">
                <div class="downmenu__wrapper__item">Ana Səhifə</div>
            </a>
            <img src="{% static 'assets/img/icons/Vectorright.svg' %}" alt="#">
            <a href="">
                <div class="downmenu__wrapper__item">Haqqımızda</div>
            </a>
            

        </div>
    </section>

    <!-- Start About -->
    <section id="AllAbout">
        <div class="container">
            <div class="summary">
                <div class="back__area">
                    <div class="text">
                        <div class="text__data">
                            <!-- Start About Title -->
                            <div class="text__data--title">
                                <h1>Haqqımızda</h1>
                                <div class="line"></div>
                            </div>
                            <!-- End About Title -->
                            <!-- Start About Text -->
                            <div class="text__data--about">
                                <p>{{about.content}}</p>
                            </div>
                            <!-- End About Text -->
                        </div>
                    </div>

                </div>
                <!-- Start About BigImage -->
                <div class="front__image">
                    <img src="{{about.image.url}}" alt="">
                </div>
                <!-- End About BigImage -->
            </div>
        </div>
    </section>
    <!-- End About -->

    
            <div class="timeline">
                    {% for x in about_objects %}
                    <div class="timeline__about--row">
                        <div class="timeline__text">
                            <div class="timeline__text--title">
                                <h1>{{x.title}}</h1>
                               </div>
                            <div class="timeline__text--about">
                                <p>{{x.about}}
                                </p>
                            </div>
                            <div class="timeline__text--image">
                                <img src="{{x.image.url}}" alt="">
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                   
            

            </div>
{% endblock content %}


    
  