  {% load static %}
  {% load program %}
  {% load search_tags %}
  <!DOCTYPE html>
  <html lang="en">

  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">

      {% block css %}

      {% endblock css %}

      <!-- fontawesome -->
      <script src="https://kit.fontawesome.com/3113ae62d0.js" crossorigin="anonymous"></script>
      <title>{{title}}</title>
  </head>

  <body>
      <!-- loading -->
      <div class="loader">
          <div class="loader__wrapper">Loading...</div>
      </div>
      <!-- loading -->
      <!-- nav bar start -->

      <header>
          <nav class="navbar">
              <a href="./index.html">
                  <div class="logo"><img src="{% static 'assets/img/icons/logoblack.svg' %}" alt=""></div>
              </a>
              <div class="menu">
                  <ul>
                      <li><a href="">Haqqımızda</a> <span></span> </li>
                      <li><a href="{% url 'programs' %}">Proqramlar</a> <span></span> </li>
                      <li><a href="{% url 'group' %}">Qruplar</a> <span></span> </li>
                      <li><a href="{% url 'blog' %}">Bloq</a> <span></span> </li>
                      <li><a href="{% url 'contact' %}">Əlaqə</a> <span></span> </li>
                  </ul>
              </div>
              <div class="burger"><img src="{% static 'assets/img/icons/burger.svg' %}" alt=""></div>
              <div class="wrapper">
                  <div class="search-box"><br>
                    <form action="{% url 'search' %}" method="POST">
                        {% csrf_token %}
                         <input type="text" placeholder="Axtar" name="searched"  class="input">
                        <input type="submit" style="display: none;">
                        <div class="btn">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </div>
                    </form>
                    
                  </div>
              </div>
              <a class="btn1" href="#">MÜRACİƏT</a>
          </nav>
      </header>

      <!-- nav bar end -->

      <!-- mobile navbar -->

      <div class="mobile__navbar">
          <div class="mobile__navbar__header">
              <a href="./index.html"> <img src="{% static 'assets/img/icons/logoblack.svg' %}" alt=""></a>
              <img class="x__icon" src="{% static 'assets/img/icons/x.svg' %}" alt="">
          </div>
          <div class="mobile__navbar__search">
              <div class="btn">
                  <img src="{% static 'assets/img/icons/search.svg' %}" alt="">
              </div>
              <input placeholder="Axtarış" type="search">
          </div>
          <div class="mobile__navbar__menu">
              <ul>
                  <li><a href="./about.html">Haqqımızda</a> <span></span> </li>
                  <li><a href="./programs.html">Proqramlar</a> <span></span> </li>
                  <li><a href="./groups.html">Qruplar</a> <span></span> </li>
                  <li><a href="./blog.html">Bloq</a> <span></span> </li>
                  <li><a href="./contact.html">Əlaqə</a> <span></span> </li>
              </ul>
          </div>
          <a class="btn1" href="#">MÜRACİƏT</a>
          <div class="mobile__navbar__links">

              <a href=""><i class="fab fa-facebook-f"></i></a>
              <a href=""><i class="fab fa-instagram"></i></a>
              <a href=""><i class="fab fa-linkedin-in"></i></a>

          </div>


      </div>



      {% block content %}

      {% endblock content %}



      <!-- popup -->
      <div class="popup__all">

          <form method="post" class="popup" action="{% url 'apply_course' %}">
              {% csrf_token %}
              <div class="header">
                <a href="./index.html"> <img src="../assets/img/icons/logoblack.svg" alt=""></a>
                <img class="x__icon" src="../assets/img/icons/x.svg" alt="">
              </div>
             <h1>Bizə yazın</h1>
             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
             
             <div class="popup-inputs popup-input-up">
                 <div class="name__field"><input name="first_name"  required type="text" placeholder="Ad"><span class="bg__border" ></span><span class="bg__border" ></span><span class="bg__border" ></span><span class="bg__border" ></span></div><div class="surname__field"><input required name="last_name" type="text" placeholder="Soyad"><span class="bg__border" ></span><span class="bg__border" ></span><span class="bg__border" ></span><span class="bg__border" ></span></div>
             </div> 
             <div class="popup-inputs popup-input-down" style="margin-top:20px">
                <div class="email__field"><input name="email"  required type="email" placeholder="Email"><span class="bg__border" ></span><span class="bg__border" ></span><span class="bg__border" ></span><span class="bg__border" ></span></div><div class="number__field"><input  required type="tel" name="phone_number" placeholder="Telefon"><span class="bg__border" ></span><span class="bg__border" ></span><span class="bg__border" ></span><span class="bg__border" ></span></div>
                 <div class="label"><img src="{% static 'assets/img/icons/icon.svg' %}" alt="icon">text@example.com</div>
             </div>
             <div class="dropdown">
              <div class="select">
                <span class="label">Proqramı seçin</span>
                <img src="../assets/img/icons/Vectordown.svg" alt="">
              </div>
              <input class="popup__hiddeninput" name="popup__hiddeninput" type="hidden">
              <ul class="dropdown-menu">
                  {% dropdown_data as datas %}
                  {% for data in datas %}
                  <li data-id="{{data.id}}">{{data.title}}</li>
                  {% endfor %}
              </ul>
            </div>
             <div class="popup-textarea">
                 <div class="textarea"><textarea name="message" required placeholder="Mesajınız" class="popup-input"  cols="30" rows="10"></textarea><span class="bg__border"></span><span class="bg__border"></span><span class="bg__border"></span><span class="bg__border"></span></div></div>
             <div class="popup-submit">
                 <input type="submit" value="Göndər">
             </div>
          </form>
      </div>

      <div class="fixed__footer">
          <div class="fixed__footer__iconleft">
              <a href=""><i class="fab fa-facebook-f"></i></a>
              <a href=""><i class="fab fa-instagram"></i></a>
          </div>
          <a href="#" class="btn1">MÜRACİƏT</a>
          <div class="fixed__footer__iconright">
              <a href=""><i class="fab fa-linkedin-in"></i></a>
              <a href=""><i class="fab fa-whatsapp"></i></a>

          </div>
      </div>

      <!-- footer -->
      <footer style="margin-top:6.25rem;">
          <div class="footer__up">
              <div class="footer__up__menu">
                  <ul>
                      <li><a href="./about.html">Haqqımızda</a> <span></span> </li>
                      <li><a href="./programs.html">Proqramlar</a> <span></span> </li>
                      <li><a href="./groups.html">Qruplar</a> <span></span> </li>
                      <li><a href="./blog.html">Bloq</a> <span></span> </li>
                      <li><a href="./contact.html">Əlaqə</a> <span></span> </li>
                  </ul>
              </div>
              <div class="footer__up__address">
                  <div class="footer__up__address__item">
                      <p>Xocalı prospekti 40, AZ1000 Bakı, Azərbaycan</p>
                      <p>Mobil + 994 (50) 256 08 07</p>
                  </div>
              </div>
          </div>

          <div class="footer__down">
              <a href="./index.html">
                  <div class="footer__down__logo"><img src="{% static 'assets/img/icons/logofooter.svg' %}" alt="">
                  </div>
              </a>
              <div class="footer__down__text">©2021 - Pragmatech - Bütün hüquqlar qorunur.</div>
              <div class="footer__down__link">
                  <a href=""><i class="fab fa-facebook-f"></i></a>
                  <a href=""><i class="fab fa-instagram"></i></a>
                  <a href=""><i class="fab fa-linkedin-in"></i></a>

              </div>
          </div>
      </footer>



      <!-- footer end -->
      <script src="{% static 'assets/vendor/jquery-3.6.0.min.js' %}"></script>
      <script src="{% static 'assets/js/common.js' %}"></script>
      <script src="{% static 'assets/js/main.js' %}"></script>
      {% block js %}

      {% endblock js %}

  </body>

  </html>