{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'assets/css/group_details.css' %}">

{% endblock css %}
{% block title %}
  {{group.title}}
{% endblock title %}


{% block content %}
  
    <!-- downmenu -->
    <section class="downmenu">
        <div class="downmenu__wrapper">
            <a href="./index.html">
                <div class="downmenu__wrapper__item">Ana Səhifə</div>
            </a>
            <img src="../assets/img/icons/Vectorright.svg" alt="">
            <a href="./groups.html">
                <div class="downmenu__wrapper__item">Qruplar</div>
            </a>
            <img src="../assets/img/icons/Vectorright.svg" alt="">
            <a href="./group_details.html">
                <div class="downmenu__wrapper__item">Qrup detalları</div>
            </a>

        </div>
    </section>
    
    <!-- program details title -->
    <div class="group__title">
        <div class="group__title__content">
            <div class="group__title__content__text" style="width:100%">
            <h1>{{group.title}}</h1>
            <div class="clock"><img src="{% static 'assets/img/icons/clock3.svg' %}" alt="">
                <p>{{group.education_term_month}} ay / {{group.education_term_hours}} saat</p>
            </div>
            <div class="calendar"><img src="{% static 'assets/img/icons/calendar.svg' %}" alt="#">
                <p>{{group.week_day}} | {{group.lesson_time}}</p>
            </div>
            <div class="time"><i class="fas fa-stopwatch"></i>
                <p>Son qeydiyyat tarixi:  {{groupdeadline}}</p>
            </div>
            <div class="time timestart"><i class="fas fa-book-open"></i>
                <p>Dərsin başlama tarixi:  {{group.lesson_start_time}} </p>
            </div>
        </div>
            <div class="group__title__content__img"><img src="{{group.image.url}}" alt="#"></div>
        </div>
        
    </div>


    <!-- program details info -->

    <div class="group__info">
        <div class="group__info__text">
           {{group.content|safe}}
        </div>
        
    </div>
{% endblock content %}

