{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'assets/css/groups.css' %}">
{% endblock css %}
{% block title %}
Qruplar
{% endblock title %}


{% block content %}
    <!-- downmenu -->
    <section class="downmenu">
        <div class="downmenu__wrapper">
            <a href="{% url 'index' %}">
                <div class="downmenu__wrapper__item">Ana Səhifə</div>
            </a>
            <img src="{% static 'assets/img/icons/Vectorright.svg' %}" alt="">
            <a href="{% url 'group' %}">
                <div class="downmenu__wrapper__item">Qruplar</div>
            </a>

        </div>
    </section>

    <!-- programs -->
    <section class="groups">
        <div class="groups__left">
            <div class="groups__left__wrapper">
                <div class="groups__left__wrapper__up">
                    <h1>Qruplar</h1>
                    <div class="groups__left__wrapper__up__stroke"></div>

                </div>
                <div class="groups__left__wrapper__text">{{group_page_content.content}}</div>

            </div>
        </div>
        <div class="groups__img"><img src="{{group_page_content.image.url}}" alt=""></div>
    </section>

    <!-- tabsection -->
    <div class="tabs">


        <div class="double">
            <div class="double__main">

                <!-- activ programs tab -->
                <div class="double__main__box">

                    {% for x in groups %}
                      
                    <div class="double__main__box__item ">
                        <a href="{{x.get_absolute_url}}">
                        <div class="double__main__box__item__title">{{x.programs.title}}</div>
                        <img src="{{x.image.url}}" alt="">
                        <h3>{{x.title}}</h3>
                        </a>
                    </div>

                    {% endfor %}
                   

                   

                </div>



            </div>


        </div>
    </div>
{% endblock content %}

