{% load static %}
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- fontfamily -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
  <!-- swiper -->
  <link rel="stylesheet" href="../assets/vendor/swiper-bundle.min.css">
  <!-- slickcarousel -->
  <link rel="stylesheet" href="../assets/vendor/slick.css">
  <link rel="stylesheet" href="../assets/vendor/slick-theme.css">
  <!-- fontawesome -->
  <script src="https://kit.fontawesome.com/3113ae62d0.js" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
  <title>Ana Səhifə</title>
</head>

<body>
  <!-- loading -->
  <div class="loader">
    <div class="loader__wrapper">Loading...</div>

  </div>
  <!-- loading -->
  <!-- header -->
  <header>
    <nav class="navbar">
      <a href="./index.html">
        <div class="logo"><img src="../assets/img/icons/logo.svg" alt="pragmatech"></div>
      </a>
      <a href="./index.html">
        <div class="logoblack"><img src="../assets/img/icons/logoblack.svg" alt="pragmatech"></div>
      </a>
      <div class="menu">
        <ul>
          <li><a href="./about.html">Haqqımızda</a> <span></span> </li>
          <li><a href="./programs.html">Proqramlar</a> <span></span> </li>
          <li><a href="./groups.html">Qruplar</a> <span></span> </li>
          <li><a href="./blog.html">Bloq</a> <span></span> </li>
          <li><a href="./contact.html">Əlaqə</a> <span></span> </li>
        </ul>
      </div>
      <div class="burger"><img src="../assets/img/icons/burger.svg" alt=""></div>

      <div class="wrapper">
        <div class="search-box">
          <input type="text" placeholder="Axtar" class="input">
          <div class="btn">
            <i class="fa fa-search" aria-hidden="true"></i>
          </div>
        </div>
      </div>
      <a class="btn1" href="#">MÜRACİƏT</a>

    </nav>
  </header>

  <!-- mobile navbar -->

  <div class="mobile__navbar">
    <div class="mobile__navbar__header">
      <a href="./index.html"> <img src="../assets/img/icons/logoblack.svg" alt=""></a>
      <img class="x__icon" src="../assets/img/icons/x.svg" alt="">
    </div>
    <div class="mobile__navbar__search">
      <div class="btn">
        <img src="../assets/img/icons/search.svg" alt="">
      </div>
      <input placeholder="Axtarış" type="search">
    </div>
    <div class="mobile__navbar__menu">
      <ul>
        <li><a href="./about.html">Haqqımızda</a> <span></span> </li>
        <li><a href="./programs.html">Proqramlar</a> <span></span> </li>
        <li><a href="./groups.html">Qruplar</a> <span></span> </li>
        <li><a href="./blog.html">Bloq</a> <span></span> </li>
        <li><a href="./contact.html">Əlaqə</a> <span></span> </li>
      </ul>
    </div>
    <a class="btn1" href="#">MÜRACİƏT</a>
    <div class="mobile__navbar__links">

      <a href=""><i class="fab fa-facebook-f"></i></a>
      <a href=""><i class="fab fa-instagram"></i></a>
      <a href=""><i class="fab fa-linkedin-in"></i></a>

    </div>


  </div>

  <!--  -->
  <!-- Swipersection -->
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="header-wrapper">
          <div class="header__content">

            <h1>Lorem ipsum dolor sit amet, consectetur adipiscing</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, Lorem ipsum dolor sit amet, consectetur
              adipiscing elit</p>
            <a href="#">Daha ətraflı</a>
          </div>
        </div>
        <img src="../assets/img/style_css_img/Background.svg" alt="proqramist">
      </div>
      <div class="swiper-slide">
        <div class="header-wrapper">
          <div class="header__content">

            <h1>Lorem ipsum dolor sit amet, consectetur adipiscing</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, Lorem ipsum dolor sit amet, consectetur
              adipiscing elit</p>
            <a href="#">Daha ətraflı</a>
          </div>
        </div>
        <img src="../assets/img/style_css_img/programist.png" alt="proqramist">

      </div>
      <div class="swiper-slide">
        <div class="header-wrapper">
          <div class="header__content">

            <h1>Lorem ipsum dolor sit amet, consectetur adipiscing</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, Lorem ipsum dolor sit amet, consectetur
              adipiscing elit</p>
            <a href="#">Daha ətraflı</a>
          </div>
        </div>
        <img src="../assets/img/style_css_img/futureprogramming.png" alt="proqramist">
      </div>

    </div>
    <div class="swiper-pagination"></div>
  </div>
  <!-- logosection -->
  <section class="section-logo">
    <div class="logos">
      <div class="logos__item"><img src="../assets/img/style_css_img/html.svg" alt="html"></div>
      <div class="logos__item"><img class="css" src="../assets/img/style_css_img/css.png" alt="css"></div>
      <div class="logos__item"><img src="../assets/img/style_css_img/js.svg" alt="javascript"></div>
      <div class="logos__item"><img src="../assets/img/style_css_img/c.svg" alt="c"></div>
      <div class="logos__item"><img src="../assets/img/style_css_img/react.jpg" class="react" alt="react"></div>
      <div class="logos__item"><img src="../assets/img/style_css_img/python.svg" alt="python"></div>
    </div>
  </section>

  <!-- activegroups -->


  <section class="active__groups">
    <div class="active__groups__main__wrapper">
      <div class="active__groups__main">
        <div class="active__groups__main__up">
          <div class="active__groups__main__up__active">aktiv</div>
          <div class="active__groups__main__up__stroke"></div>
        </div>
        <div class="active__groups__main__groups">qruplar</div>
        <p>Lorem ipsum dolor sit amet,
          consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        <a href="./programs.html">Hamısına bax</a>
      </div>
      <a class="btn__bottom" href="./programs.html">Hamısına bax</a>
    </div>
    <div class="active__groups__container">
      <div class="active__groups__item__wrapper responsive">
        <div class="active__groups__item item__disabled">
          <!-- bu div bos qalacaq -->

        </div>
        <div class="active__groups__item"><a href="#">
            <img src="../assets/img/style_css_img/comp.svg" alt="#">
            <h3>Lorem ipsum dolor sit</h3>
            <p>6 ay / 200 saat</p>

          </a></div>
        <div class="active__groups__item"><a href="#">
            <img src="../assets/img/style_css_img/comp2.svg" alt="#">
            <h3>Lorem ipsum dolor sit</h3>
            <p>6 ay / 200 saat</p>

          </a></div>
        <div class="active__groups__item"><a href="#">
            <img src="../assets/img/style_css_img/comp3.svg" alt="#">
            <h3>Lorem ipsum dolor sit</h3>
            <p>6 ay / 200 saat</p>

          </a></div>
        <div class="active__groups__item"><a href="#">
            <img src="../assets/img/style_css_img/comp4.svg" alt="#">
            <h3>Lorem ipsum dolor sit</h3>
            <p>6 ay / 200 saat</p>

          </a></div>
        <div class="active__groups__item"><a href="#">
            <img src="../assets/img/style_css_img/comp5.svg" alt="#">
            <h3>Lorem ipsum dolor sit</h3>
            <p>6 ay / 200 saat</p>

          </a></div>
        <div class="active__groups__item"><a href="#">
            <img src="../assets/img/style_css_img/comp6.svg" alt="#">
            <h3>Lorem ipsum dolor sit</h3>
            <p>6 ay / 200 saat</p>

          </a></div>
        <div class="active__groups__item"><a href="#">
            <img src="../assets/img/style_css_img/comp7.svg" alt="#">
            <h3>Lorem ipsum dolor sit</h3>
            <p>6 ay / 200 saat</p>

          </a></div>

      </div>
    </div>


  </section>
  <!-- plannedgroups -->
  <div class="double__main__all">
    <div class="double__main__box__wrapper">
      <div class="double__main__box__main">
        <div class="double__main__box__main__up">planlanan</div>
        <div class="double__main__box__main__down">
          <div class="double__main__box__main__down__stroke"></div>
          <div class="double__main__box__main__down__groups">qruplar</div>
        </div>
        <p>Lorem ipsum dolor sit amet,
          consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        <a href="#">Hamısına bax</a>

      </div>
      <a class="btn__bottom" href="#">Hamısına bax</a>
    </div>
    <section class="double__main">
      <div class="double__main__box  double__responsive">
        <div class="double__main__box__item item__disabled">
          <!-- bu div bos qalacaq -->
        </div>

        <div class="double__main__box__item">
          <img src="../assets/img/style_css_img/comp8.svg" alt="#">
          <h3>Lorem ipsum dolor sit amet,
            consectetur</h3>
          <div class="calendar"><img src="../assets/img/icons/calendar.svg" alt="#">
            <p>09.09.2021</p>
          </div>
          <a href="#" class="detail">
            <h4>Daha ətraflı</h4><i class="fas fa-chevron-right"></i>
          </a>
        </div>

        <div class="double__main__box__item">
          <img src="../assets/img/style_css_img/comp9.svg" alt="">
          <h3>Lorem ipsum dolor sit amet,
            consectetur</h3>
          <div class="calendar"><img src="../assets/img/icons/calendar.svg" alt="#">
            <p>09.09.2021</p>
          </div>
          <a href="#" class="detail">
            <h4>Daha ətraflı</h4><i class="fas fa-chevron-right"></i>
          </a>
        </div>

        <div class="double__main__box__item">
          <img src="../assets/img/style_css_img/comp10.svg" alt="">
          <h3>Lorem ipsum dolor sit amet,
            consectetur</h3>
          <div class="calendar"><img src="../assets/img/icons/calendar.svg" alt="#">
            <p>09.09.2021</p>
          </div>
          <a href="#" class="detail">
            <h4>Daha ətraflı</h4><i class="fas fa-chevron-right"></i>
          </a>
        </div>

        <div class="double__main__box__item">
          <img src="../assets/img/style_css_img/comp11.svg" alt="">
          <h3>Lorem ipsum dolor sit amet,
            consectetur</h3>
          <div class="calendar"><img src="../assets/img/icons/calendar.svg" alt="#">
            <p>09.09.2021</p>
          </div>
          <a href="#" class="detail">
            <h4>Daha ətraflı</h4><i class="fas fa-chevron-right"></i>
          </a>
        </div>

        <div class="double__main__box__item">
          <img src="../assets/img/style_css_img/comp12.svg" alt="">
          <h3>Lorem ipsum dolor sit amet,
            consectetur</h3>
          <div class="calendar"><img src="../assets/img/icons/calendar.svg" alt="#">
            <p>09.09.2021</p>
          </div>
          <a href="#" class="detail">
            <h4>Daha ətraflı</h4><i class="fas fa-chevron-right"></i>
          </a>
        </div>


      </div>
    </section>

  </div>
  <!-- plannedgroups -->


  <!-- blog -->

  <section class="blog__posts">
    <div class="blog__main__wrapper">
      <div class="blog__posts__main">
        <div class="blog__posts__main__up">
          <div class="blog__posts__main__up__blog">bloq</div>
          <div class="blog__posts__main__up__stroke"></div>
        </div>

        <div class="blog__posts__main__down">
          <div class="blog__posts__main__down__stroke"></div>
          <div class="blog__posts__main__down__post">post</div>
        </div>

        <p>Lorem ipsum dolor sit amet,
          consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
      </div>
    </div>
    <!-- # -->
    <div class="blog__posts__wrapper__all">
      <div class="blog__posts__wrapper blog__responsive">
        <div class="blog__posts__main item__disabled">
          <!-- bu div bos qalacaq -->
        </div>
        <div class="box box-small">
          <div class="box-img" style="background: url(../assets/img/style_css_img/comp13.svg);"></div>
          <div class="box-text">
            <p class="box-text-p">Lorem ipsum dolor sit amet, consectetur</p>
            <p style="margin-bottom: 6px;">Samir Kərimov</p>
            <p class="box-text-p2">02.09.2021</p>
            <a href="./blog-post.html" class="buttons">Ətraflı oxu</a>
          </div>
        </div>

        <div class="box box-big ">
          <div class="box-img" style="background: url(../assets/img/style_css_img/comp14.svg);"></div>
          <div class="box-text">
            <p class="box-text-p">Lorem ipsum dolor sit amet, consectetur</p>
            <p style="margin-bottom: 6px;">Samir Kərimov</p>
            <p class="box-text-p2">02.09.2021</p>
            <a href="./blog-post.html" class="buttons">Ətraflı oxu</a>
          </div>
        </div>
        <div class="box box-big">
          <div class="box-img" style="background: url(../assets/img/style_css_img/comp15.svg);"></div>
          <div class="box-text">
            <p class="box-text-p">Lorem ipsum dolor sit amet, consectetur</p>
            <p style="margin-bottom: 6px;">Samir Kərimov</p>
            <p class="box-text-p2">02.09.2021</p>
            <a href="./blog-post.html" class="buttons">Ətraflı oxu</a>
          </div>
        </div>
        <div class="box box-big">
          <div class="box-img" style="background: url(../assets/img/style_css_img/comp16.svg);"></div>
          <div class="box-text">
            <p class="box-text-p">Lorem ipsum dolor sit amet, consectetur</p>
            <p style="margin-bottom: 6px;">Samir Kərimov</p>
            <p class="box-text-p2">02.09.2021</p>
            <a href="./blog-post.html" class="buttons">Ətraflı oxu</a>
          </div>
        </div>
        <div class="box box-big">
          <div class="box-img" style="background: url(../assets/img/style_css_img/comp17.svg);"></div>
          <div class="box-text">
            <p class="box-text-p">Lorem ipsum dolor sit amet, consectetur</p>
            <p style="margin-bottom: 6px;">Samir Kərimov</p>
            <p class="box-text-p2">02.09.2021</p>
            <a href="./blog-post.html" class="buttons">Ətraflı oxu</a>
          </div>
        </div>
        <a class="green__box__link item__disabled" href="./blog.html">
          <div class="green__box">
            <h4>bütün</h4>
            <div class="blog__posts__main__up__blog ml">bloq</div>
            <div class="blog__posts__main__down__post mr">postlar</div>

          </div>
        </a>
      </div>
    </div>

    <a class="btn__bottom" href="./blog.html">Bütün bloq postlar</a>
  </section>


  <!-- sectionhelp -->
  <section class="help">
    <div class="help__question">
      <img src="../assets/img/style_css_img/vector2.svg" alt="">
      <div class="help__question__up">sualınız var?</div>
      <div class="help__question__down">
        <div class="help__question__down__stroke"></div>
        <div class="help__question__down__text">gəlin kömək edək!</div>
      </div>
      <p>Sed et leo maximus, dictum sem nec, varius turpis. Mauris suscipit odio vel euismod lobortis. Cras venenatis
        eget magna id viverra. Quisque varius elit tempus hendrerit sagittis.</p>
    </div>
    <div class="help__form">
      <form action="">
        <div class="form__up">
          <div class="form__item"><input class="form__name" required placeholder="Ad" type="text"><span
              class="bg__border"></span><span class="bg__border"></span><span class="bg__border"></span><span
              class="bg__border"></span></div>
          <div class="form__item"><input class="form__surname" required placeholder="Soyad" type="text"><span
              class="bg__border"></span><span class="bg__border"></span><span class="bg__border"></span><span
              class="bg__border"></span></div>
        </div>
        <div class="form__down">
          <div class="form__item">
            <input class="form__email" required placeholder="Email" type="email">
            <span class="bg__border"></span><span class="bg__border"></span><span class="bg__border"></span><span
              class="bg__border"></span>
          </div>
          <div class="label"><img src="../assets/img/icons/icon.svg" alt="icon">text@example.com</div>

        </div>

        <!-- dropdown -->
        <div class="dropdown">

          <div class="select  form__item">

            <span class="label">Proqramı seçin</span>
            <img src="../assets/img/icons/Vectordown.svg" alt="">
          </div>
          <input type="hidden" name="program">
          <ul class="dropdown-menu">
            <li>HTML</li>
            <li>Css</li>
            <li>Javascript</li>
            <li>C#</li>

          </ul>
        </div>



        <input class="submit" value="Müraciət et" type="submit">
      </form>
    </div>

  </section>

  <!-- popup -->
  <div class="popup__all">

    <form class="popup">
      <div class="header">
        <a href="./index.html"> <img src="../assets/img/icons/logoblack.svg" alt=""></a>
        <img class="x__icon" src="../assets/img/icons/x.svg" alt="">
      </div>
      <h1>Bizə yazın</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>

      <div class="popup-inputs popup-input-up">
        <div class="name__field"><input required type="text" placeholder="Ad"><span class="bg__border"></span><span
            class="bg__border"></span><span class="bg__border"></span><span class="bg__border"></span></div>
        <div class="surname__field"><input required type="text" placeholder="Soyad"><span
            class="bg__border"></span><span class="bg__border"></span><span class="bg__border"></span><span
            class="bg__border"></span></div>
      </div>
      <div class="popup-inputs popup-input-down">
        <div class="email__field"><input required type="email" placeholder="Email"><span class="bg__border"></span><span
            class="bg__border"></span><span class="bg__border"></span><span class="bg__border"></span></div>
        <div class="number__field"><input required type="tel" placeholder="Telefon"><span
            class="bg__border"></span><span class="bg__border"></span><span class="bg__border"></span><span
            class="bg__border"></span></div>
        <div class="label"><img src="../assets/img/icons/icon.svg" alt="icon">text@example.com</div>
      </div>
      <div class="dropdown">
        <div class="select">
          <span class="label">Proqramı seçin</span>
          <img src="../assets/img/icons/Vectordown.svg" alt="">
        </div>
        <input type="hidden">
        <ul class="dropdown-menu">
          <li>HTML</li>
          <li>Css</li>
          <li>Javascript</li>
          <li>C#</li>
        </ul>
      </div>
      <div class="popup-textarea">
        <div class="textarea"><textarea required placeholder="Mesajınız" class="popup-input" name="text" cols="30"
            rows="10"></textarea><span class="bg__border"></span><span class="bg__border"></span><span
            class="bg__border"></span><span class="bg__border"></span></div>
      </div>
      <div class="popup-submit">
        <input type="submit" value="Göndər">
      </div>
    </form>
  </div>

  <div class="fixed__footer">
    <div class="fixed__footer__iconleft">
      <a href=""><i class="fab fa-facebook-f"></i></a>
      <a href=""><i class="fab fa-instagram"></i></a>
    </div>
    <a href="#" class="btn1">MÜRACİƏT</a>
    <div class="fixed__footer__iconright">
      <a href=""><i class="fab fa-linkedin-in"></i></a>
      <a href=""><i class="fab fa-whatsapp"></i></a>

    </div>
  </div>
  <!-- footer -->
  <footer>
    <div class="footer__up">
      <div class="footer__up__menu">
        <ul>
          <li><a href="./about.html">Haqqımızda</a> <span></span> </li>
          <li><a href="./programs.html">Proqramlar</a> <span></span> </li>
          <li><a href="./groups.html">Qruplar</a> <span></span> </li>
          <li><a href="./blog.html">Bloq</a> <span></span> </li>
          <li><a href="./contact.html">Əlaqə</a> <span></span> </li>
        </ul>
      </div>
      <div class="footer__up__address">
        <div class="footer__up__address__item">
          <p>Xocalı prospekti 40, AZ1000 Bakı, Azərbaycan</p>
          <p>Mobil + 994 (50) 256 08 07</p>
        </div>
      </div>
    </div>

    <div class="footer__down">
      <a href="./index.html">
        <div class="footer__down__logo"><img src="../assets/img/icons/logofooter.svg" alt="#"></div>
      </a>
      <div class="footer__down__text">©2021 - Pragmatech - Bütün hüquqlar qorunur.</div>
      <div class="footer__down__link">
        <a href=""><i class="fab fa-facebook-f"></i></a>
        <a href=""><i class="fab fa-instagram"></i></a>
        <a href=""><i class="fab fa-linkedin-in"></i></a>

      </div>
    </div>
  </footer>


  <script src="../assets/vendor/jquery-3.6.0.min.js"></script>
  <script src="../assets/vendor/slick.min.js"></script>
  <script src="../assets/vendor/swiper-bundle.min.js"></script>
  <script src="../assets/js/app.js"></script>
  <script src="../assets/js/common.js"></script>
</body>

</html>