{% extends 'base.html' %}
{% load static %}
{% block title %}
  Ana Səhifə
{% endblock title %}
{% block css %}
<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

   <!-- swiper -->
   <link rel="stylesheet" href="{% static 'assets/vendor/swiper-bundle.min.css' %}">
   <!-- slickcarousel -->
   <link rel="stylesheet" href="{% static 'assets/vendor/slick.css' %}">
   <link rel="stylesheet" href="{% static 'assets/vendor/slick-theme.css' %}">
   <!-- fontawesome -->
{% endblock css %}
{% block content2 %}
<a href="{% url 'index' %}">
  <div class="logoblack"><img src="{% static 'assets/img/icons/logoblack.svg' %}" alt="pragmatech"></div>
</a>
{% endblock content2 %}
{% block content %}
  
  <!--  -->
  <!-- Swipersection -->
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">

      {% for x in slider %}
      <div class="swiper-slide">
        <div class="header-wrapper">
          <div class="header__content">

            <h1>{{x.title}}</h1>
            <p>{{x.text}}</p>
            <a href="#">Daha ətraflı</a>
          </div>
        </div>
        <img src="{{x.image.url}}" alt="proqramist">
      </div>
      {% endfor %}


    </div>
    <div class="swiper-pagination"></div>
  </div>
  <!-- logosection -->
  <section class="section-logo">
    <div class="logos">
      <div class="logos__item"><img src="{% static 'assets/img/style_css_img/html.svg' %}" alt="html"></div>
      <div class="logos__item"><img class="css" src="{% static 'assets/img/style_css_img/css.png' %}" alt="css"></div>
      <div class="logos__item"><img src="{% static 'assets/img/style_css_img/js.svg' %}" alt="javascript"></div>
      <div class="logos__item"><img src="{% static 'assets/img/style_css_img/c.svg' %}" alt="c"></div>
      <div class="logos__item"><img src="{% static 'assets/img/style_css_img/react.jpg' %}" class="react" alt="react">
      </div>
      <div class="logos__item"><img src="{% static 'assets/img/style_css_img/python.svg' %}" alt="python"></div>
    </div>
  </section>

  <!-- activegroups -->


  <section class="active__groups">
    <div class="active__groups__main__wrapper">
      <div class="active__groups__main">
        <div class="active__groups__main__up">
          <div class="active__groups__main__up__active">aktiv</div>
          <div class="active__groups__main__up__stroke"></div>
        </div>
        <div class="active__groups__main__groups">qruplar</div>
        <p>Lorem ipsum dolor sit amet,
          consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        <a href="{% url 'programs' %}">Hamısına bax</a>
      </div>
      <a class="btn__bottom" href="{% url 'programs' %}">Hamısına bax</a>
    </div>
    <div class="active__groups__container">
      <div class="active__groups__item__wrapper responsive">
        <div class="active__groups__item item__disabled">
          <!-- bu div bos qalacaq -->

        </div>

        {% for x in active_groups %}
        <div class="active__groups__item">
          <div class="double__main__box__item__title">Foundation</div>
          <a href="{{x.get_absolute_url}}">
            <img src="{{x.image.url}}" alt="#">
            <h3>Lorem ipsum dolor sit</h3>
            <p><i class="fas fa-hourglass-start"></i>{{x.education_term_month}} ay / {{x.education_term_hours}} saat</p>



          </a>
        </div>
        {% endfor %}






      </div>
    </div>


  </section>
  <!-- plannedgroups -->
  <div class="double__main__all">
    <div class="double__main__box__wrapper">
      <div class="double__main__box__main">
        <div class="double__main__box__main__up">Tədris</div>
        <div class="double__main__box__main__down">
          <div class="double__main__box__main__down__stroke"></div>
          <div class="double__main__box__main__down__programs">Proqramları</div>
        </div>
        <p>Lorem ipsum dolor sit amet,
          consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        <a href="#">Hamısına bax</a>

      </div>
      <a class="btn__bottom" href="#">Hamısına bax</a>
    </div>
    <section class="double__main">
      <div class="double__main__box  double__responsive">
        <div class="double__main__box__item item__disabled">
          <!-- bu div bos qalacaq -->
        </div>

        {% for program in programs %}
        <div class="double__main__box__item">
          <a href="{{program.get_absolute_url}}">
            <img src="{{program.image.url}}" alt="#">
            <h3>{{program.title}}</h3>
          </a>
        </div>
        {% endfor %}



      </div>



  </div>
  </section>

  </div>
  <!-- plannedgroups -->


  <!-- blog -->

  <section class="blog__posts">
    <div class="blog__main__wrapper">
      <div class="blog__posts__main">
        <div class="blog__posts__main__up">
          <div class="blog__posts__main__up__blog">tələbə</div>
          <div class="blog__posts__main__up__stroke"></div>
        </div>

        <div class="blog__posts__main__down">
          <div class="blog__posts__main__down__stroke"></div>
          <div class="blog__posts__main__down__post">məqalələri</div>
        </div>

        <p>Lorem ipsum dolor sit amet,
          consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
      </div>
    </div>
    <!-- # -->
    <div class="blog__posts__wrapper__all">
      <div class="blog__posts__wrapper blog__responsive">
        <div class="blog__posts__main item__disabled">
          <!-- bu div bos qalacaq -->
        </div>
        {% for blog in blogs %}
        <div class="box">
          <div class="box-img" style="background: url(../assets/img/style_css_img/comp13.svg);"></div>
          <div class="box-text">
            <p class="box-text-p">{{blog.title}}</p>
            <p style="margin-bottom: 6px;">{{blog.author}}</p>
            <p class="box-text-p2">{{blog.created_at|date:"d.m.y"}}</p>
            <a href="{{blog.get_absolute_url}}" class="buttons">Ətraflı oxu</a>
          </div>
        </div>
        {% endfor %}


        <a class="green__box__link item__disabled" href="{% url 'blog' %}">
          <div class="green__box">
            <h4>bütün</h4>
            <div class="blog__posts__main__up__blog ml">bloq</div>
            <div class="blog__posts__main__down__post mr">postlar</div>

          </div>
        </a>
      </div>
    </div>

    <a class="btn__bottom" href="{% url 'blog' %}">Bütün bloq postlar</a>
  </section>


  <!-- sectionhelp -->
  <section class="help">
    <div class="help__question">
      <img src="{% static 'assets/img/style_css_img/vector2.svg'  %}" alt="">
      <div class="help__question__up">sualınız var?</div>
      <div class="help__question__down">
        <div class="help__question__down__stroke"></div>
        <div class="help__question__down__text">gəlin kömək edək!</div>
      </div>
      <p>Sed et leo maximus, dictum sem nec, varius turpis. Mauris suscipit odio vel euismod lobortis. Cras venenatis
        eget magna id viverra. Quisque varius elit tempus hendrerit sagittis.</p>
    </div>
    <div class="help__form">
      <form action="" method="POST">
        {% csrf_token %}
        <div class="form__up">
          <div class="form__item">
            {{form.name}}
            <span
              class="bg__border"></span><span class="bg__border"></span><span class="bg__border"></span><span
              class="bg__border"></span></div>
          <div class="form__item">
            {{form.surname}}
            <span
              class="bg__border"></span><span class="bg__border"></span><span class="bg__border"></span><span
              class="bg__border"></span></div>
        </div>
        <div class="form__down">
          <div class="form__item">
            {{form.email}}
            <span class="bg__border"></span><span class="bg__border"></span><span class="bg__border"></span><span
              class="bg__border"></span>
          </div>
          <div class="label"><img src="{% static 'assets/img/icons/icon.svg' %}" alt="icon">text@example.com</div>

        </div>

        <!-- dropdown -->

        <div class="dropdown">
          {{form.phone_number}}
          <span class="bg__border"></span><span class="bg__border"></span><span class="bg__border"></span><span
            class="bg__border"></span>
        </div>





        <input class="submit" value="Müraciət et" type="submit">
      </form>
    </div>

  </section>


{% endblock content %}

{% block js %}
<script src="{% static 'assets/vendor/slick.min.js' %}"></script>
<script src="{% static 'assets/vendor/swiper-bundle.min.js' %}"></script>
{% endblock js %}