{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'assets/css/program_details.css' %}">
{% endblock css %}

{% block title %}
  {{program.title}}
{% endblock title %}

{% block content %}
  

  <!-- downmenu -->
  <section class="downmenu">
      <div class="downmenu__wrapper">
          <a href="{% url 'index' %}">
              <div class="downmenu__wrapper__item">Ana Səhifə</div>
          </a>
          <img src="{% static 'assets/img/icons/Vectorright.svg' %}" alt="">
          <a href="{% url 'programs' %}">
              <div class="downmenu__wrapper__item">Proqramlar</div>
          </a>
          <img src="{% static 'assets/img/icons/Vectorright.svg' %}" alt="">
          <a href="{% static 'assets/img/icons/Vectorright.svg' %}">
              <div class="downmenu__wrapper__item">Proqram detalları</div>
          </a>

      </div>
  </section>

  <!-- program details title -->
  <div class="program__title">
      <div class="program__title__content">
          <div class="program__title__content__text">
          <h1>{{program.title}}</h1>
          <p>{{program.desc}}</p>
          
      </div>
          <div class="program__title__content__img"><img src="{% static 'assets/img/style_css_img/comp18.svg' %}" alt="#"></div>
      </div>
      
  </div>


  <!-- program details info -->

  <div class="program__info">
      <div class="program__info__text">
        {{program.information|safe}}
        </div>
      
  </div>

{% endblock content %}


