{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'assets/css/programs.css' %}">

{% endblock css %}
{% block title %}
Proqramlar
{% endblock title %}

{% block content %}
      <!-- downmenu -->
      <section class="downmenu">
        <div class="downmenu__wrapper">
            <a href="{% url 'index' %}">
                <div class="downmenu__wrapper__item">Ana Səhifə</div>
            </a>
            <img src="{% static 'assets/img/icons/Vectorright.svg' %}" alt="">
            <a href="{% url 'programs' %}">
                <div class="downmenu__wrapper__item">Proqramlar</div>
            </a>

        </div>
    </section>

    <!-- programs -->
    <section class="programs">
        <div class="programs__left">
            <div class="programs__left__wrapper">
                <div class="programs__left__wrapper__up">
                    <h1>Proqramlar</h1>
                    <div class="programs__left__wrapper__up__stroke"></div>

                </div>
                <div class="programs__left__wrapper__text">{{program_content.content}}</div>

            </div>
        </div>
        <div class="programs__img"><img src="{{program_content.image.url}}" alt=""></div>
    </section>

    <!-- tabsection -->
    <div class="tabs">
        <div class="double">
            <div class="double__main">

                 <!-- activ programs tab -->
                 <div class="double__main__box">
                  {% for x in programs %}
                  <div class="double__main__box__item"><a href="{{x.get_absolute_url}}">
                    <img src="{{x.image.url}}" alt="#">
                    <h3>{{x.title}}</h3>
                    </a>
                  

                    
                  </div>
                  {% endfor %}
                </div>
                 
               

            </div>


        </div>
    </div>
{% endblock content %}

