@import "./colors.scss";
@import "./font.scss";
@import "./reset.scss";
@import "./extend.scss";
@import "./breakpoint.scss";

html,body{
    width: 100%;
    height: fit-content;
    font-family: $font;
    
   
}

::selection {
    background-color: $green;
    color: #fff;
}

html{

    @include respond(lgscreen) {
        font-size: 16px;
        
  }

    @include respond(desktop) {
      font-size: 12.7px;
      
}
@include respond(laptop) {
    font-size: 16px;
    
}
   

}

button, input, select, textarea {
    font-family: $font;
}
::-webkit-input-placeholder {
    font-family: $font;
}
:-moz-placeholder {
    font-family: $font;
}
::-moz-placeholder {
    font-family: $font;
}
:-ms-input-placeholder {
    font-family: $font;
}

.loader{
    @extend %loader;
}
.wrapper-finish{
    display: none;
 }
 .wrapper-animation{
     animation: wrapperanima 1s linear;
 }
 @keyframes wrapperanima{
     0%{
         opacity: 1;
     }
     100%{
         opacity: 0;
     }
 }

// nav bar extend

header{
    background-color: $grey;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9999;
    border-bottom: 1px solid #ccccccc7;

    .navbar{
        @extend %navbar;
        a:nth-child(1){
            display: block !important;
        }
        i{
            color: $darkgrey;
        }
        ul{
            li{
                position: relative;
                
                a{
                    color: $darkgrey !important;}
                }
             li:nth-child(4){
                 a{font-weight: $weight400 !important;
                     &:hover{
                         color: $darkgrey !important;
                     }
                 }
             
     span{
         display: block;
         position: absolute;
         right: 0;
         left: 0;
         margin: 0 auto;
         margin-top: 0.313rem;
         width: 2rem;
         height:0.188rem ;
         background-color: $green;
     };
     };
     
     };
        
     };
    };


    .mobile__navbar{
        @extend %mobile__navbar;
        display: none;
        transition:0.5s;
    }
    
    .mobile__navbar__active{
        display:block;
        animation: navbar__menu__animation 0.5s linear;
        transition: 0.5s;
    }
    
    @keyframes navbar__menu__animation{
        0%{
            transform: translateX(-100%);
            opacity: 0;
            
        }
        100%{
            transform:translateX(0%);
            opacity:1;
            
    }
    }
// downmenu

.downmenu{
    width: 100%;
    height: 6.25rem;
    margin-top: 6.625rem;
    @include respond(laptop){
        display: none !important;
    }
    &__wrapper{
        width: 73.125rem;
        height: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        img{
            
            margin-top: 0.1rem;
        }
        a{
            text-decoration: none;
            width: max-content;
            height: max-content;
            display: inline-block;
            transition: 0.5s;
            font-weight: bold;
            font-style: normal;
            font-size: $font-size14;
            line-height: $line-height18-2;
            color:$darkgrey;
            &:hover{
                color: $gray82;
                transition: 0.5s;
            }
            &:nth-child(1){
                margin-right: 0.531rem;
            }
            &:nth-child(3){
                margin-left: 1.234rem;
            }
            
        }
    }
}

// downmenu end

// blog start
.head{
    width: 100%;
    .blog-all{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: $grey;
            @include respond(laptop){
                padding-bottom: 30px;
            }
            @include respond(tablet){
                width: 100% !important;
            }
            @include respond(mobile){
                padding-bottom:0 !important;
            }
            .blog-header{
                height: 10.625rem;
                display: flex;
                flex-direction: row;
                justify-content: center;
                @include respond(laptop){
                        margin-top: 80px ;
                }
                @include respond(tablet){
                    align-items: center;
                    .blog-text{
                        font-size: $font-size40 !important;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin: 0 !important;
                    }
                    .line{
                        margin-bottom: 0 !important;
                    }
                }
                @include respond(mobile){
                    height: max-content !important;
                    margin-top: 100px !important;
                    .blog-text{
                        font-size: 37.5px  !important;
                        width: max-content !important;
                        margin: 0 10px !important;
                    }
                    .line{
                        width:  41px !important;
                    }
                }
        
                .line{
                    margin-bottom: 5.4rem;
                    width: 102px;
                    border-bottom: 2.5px solid $green;
                    
                };
                .blog-text{
                    color:$darkgrey;
                    text-align: center;
                    margin-top: 3rem;
                    margin:auto 1.625rem;
                    height: 5rem;
                    width: 8.5rem;
                    font-size: $font-size64;
                    font-weight: $weight700;
                    font-style:normal;
                };
            };
            .blog-TM{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    margin: 0 auto;
                    height: 38.875rem;
                    width: 73.125rem;
                    @include respond(laptop){
                        flex-direction: column !important;
                        height: max-content !important;
                        width: max-content !important;
                        .blog-img{
                            margin-right: 0 !important;
                        }
                        .blog-text2{
                            height: max-content !important;
                            width: 41.875rem !important;
                            .blog-name{
                                justify-content: space-between !important;
                            }
                        }

                    }
                    @include respond(tablet){
                        width: 100% !important;
                        .blog-img{
                        width: 90vw !important;
                        height: 80vw  !important;
                        margin: 0 auto !important;
                       
                    }
                    .blog-text2{
                        width:90% !important;
                        margin: 0 auto !important;
                    }
                    }
                    @include respond(mobile){
                        .blog-text2{
                            padding-bottom: 15px;
                            h3{
                                font-size: 20px !important;
                                line-height: 26px !important;
                                margin-top: 20px !important;
                                margin-bottom: 20px !important;
                            }
                            .blog-name{
                                    .blog-mtext{
                                        margin-right: 0 !important;
                                    }
                            }
                            
                        }
                    }
                    .blog-img{
                        display: inline-block;
                        background: url("../img/bloq_css_img/background.svg");
                        background-size: cover;
                        width: 41.875rem;
                        height: 34.375rem;
                        margin-right: 3.75rem;
                    };
                    .blog-text2{ 
                        display:block;
                        width: 27.5rem;
                        height: 1.375rem;
                        text-align: left;
                        font-size: $font-size35;
                        font-weight: $weight700;
                        font-style:normal;
                
                        h3{
                            font-size: $font-size35;
                            margin-bottom: 1.688rem;
                            margin-top: 3.5rem;
                            color: $darkgrey;
                            line-height: $line-height45;
                        };
                        p{
                            margin-bottom: 1.688rem;
                            font-size: $font-size16;
                            color:$darkgrey;
                            font-weight: normal;
                            line-height: 1.5rem;
                            text-align: justify;
                            &:first-child(2){
                                margin-bottom: 0;
                            }
                        };
                        .blog-name{
                            height: 1.375rem;
                            display: flex;
                            flex-direction: row;
                            justify-content: left;
                            margin-bottom: 2.5rem;
                            line-height: 20.8px;
                            color: $darkgrey;
                            p:nth-child(1){
                                margin-bottom: 0 !important;
                            }
                            .blog-mtext{
                                font-weight: bold !important;
                            };
                        };
                        a{
                            @extend %btn-green;
                                                  };
                    };
                };
        };
        .blog-box{
                 display: flex;
                 gap: 1.875rem;
                 flex-wrap: wrap;
                 width: 73.2rem;
                 margin: 0 auto;
                 margin-top: 4.375rem;
                 @include respond(laptop){
                     width: 95% !important;
                     gap: 2vw !important;
                 }
                 @media only screen and (max-device-width:890px) {
                     gap: 1.875rem !important;
                     padding: 0 2% !important;
                 }
                 @include respond(tablet){
                     padding: 0 !important;
                     width: 90% !important;
                     justify-content: center !important;
                     margin-bottom: 90px;
                 }
                 .box{
                    @extend %box;
                    margin-bottom: 0 !important;
                    @include respond(laptop){
                        width:31.8% !important;
                        &-text{
                            width: 100% !important;
                        }
                    }
                    @media only screen and (max-device-width:890px) {
                       width: 47.5% !important;
                       .box-img{
                           height: 185px !important
                       }
                    }
                    @include respond(tablet){
                        width: 400px !important;
                    }
                    @include respond(mobile){
                        width: 100% !important;
                        max-width: 340px !important;
                        .box-img{
                            height: 156px !important;
                        }
                        &-text{
                            height:  max-content !important;
                            padding: 15px 0;
                            
                            .box-text-p{
                                margin: 0 10px 15px 10px !important;
                            }
                        }
                    }
                   
                 }
             };
}

// blog-box end

.popup__all{
    @include formanimation;
.form__item{
    position: relative;
}

.name__field,.surname__field,.email__field,.number__field,.textarea{
    position: relative;

}
    @extend %popup__all;
}

   
.fixed__footer{
    @extend %fixed__footer;
    .btn1{
        background-color: white;
        color: $green;
        width: 110px;
        height: 40px;
        display: block;
        position: static;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 20px;
        
    }
}

// footer

footer{
    
    @extend %footer; 
    margin-top: 6.25rem;
};

