$green:#41E063;
$darkgreen:#39c958;
$grey:#F5F5F5;
$darkgrey:#333333;
$gray82:#828282;
$black-gray:#4F4F4F;
$line-gray:#C3C3C3;
$formborder:rgba(0, 0, 0, 0.3);
$placeholdercolor:#C4C4C4;
$color97:#979797;
$gray999:#999999;

$linear-grey:linear-gradient(to left,
#E5E5E5  0%,
rgba(232, 232, 232, 0.3) 100%
);

$navgrey:rgba(236, 236, 236, 0.5);
$greystroke:rgba(54, 54, 54, 0.3);
$grey4f:#4F4F4F;