@import "./colors.scss";
@import "./font.scss";
@import "./reset.scss";
@import "./extend.scss";
@import "./breakpoint.scss";
* {
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: fit-content;
    font-family: $font;
    
   
}
button, input, select, textarea {
    font-family: $font;
}
::-webkit-input-placeholder {
    font-family: $font;
}
:-moz-placeholder {
    font-family: $font;
}
::-moz-placeholder {
    font-family: $font;
}
:-ms-input-placeholder {
    font-family: $font;
}
html{

    @include respond(lgscreen) {
        font-size: 16px;
        
  }

    @include respond(desktop) {
      font-size: 12.7px;
      
}
@include respond(laptop) {
    font-size: 16px;
    
}
   

}

::selection {
    background-color: $green;
    color: #fff;
}
.loader {
    @extend %loader;
}
.wrapper-finish{
    display: none;
 }
 .wrapper-animation{
     animation: wrapperanima 1s linear;
 }
 @keyframes wrapperanima{
     0%{
         opacity: 1;
     }
     100%{
         opacity: 0;
     }
 }

// nav bar extend

header {
    background-color: $grey;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9999;
    border-bottom: 1px solid #ccccccc7;

    .navbar {
        @extend %navbar;
        a:nth-child(1){
            display: block !important;
        }
        i {
            color: $darkgrey;
        }
        ul {
            li {
                a {
                    color: $darkgrey !important;
                }
            }
            li:nth-child(5) {
                a {
                    font-weight: $weight400 !important;
                    &:hover {
                        color: $darkgrey !important;
                    }
                }

                span {
                    display: block;
                    position: absolute;
                    right: 0;
                    left: 0;
                    margin: 0 auto;
                    margin-top: 0.313rem;
                    width: 2.688rem;
                    height: 0.188rem;
                    background-color: $green;
                }
            }
        }
    }
}

.mobile__navbar{
    @extend %mobile__navbar;
    display: none;
    transition:0.5s;
}

.mobile__navbar__active{
    display:block;
    animation: navbar__menu__animation 0.5s linear;
    transition: 0.5s;
}

@keyframes navbar__menu__animation{
    0%{
        transform: translateX(-100%);
        opacity: 0;
        
    }
    100%{
        transform:translateX(0%);
        opacity:1;
        
}
}


// downmenu

.downmenu {
    width: 100%;
    height: 6.25rem;
    margin-top: 6.625rem;
    @include respond(laptop){
        display: none !important;
    }
    &__wrapper {
        width: 73.125rem;
        height: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        img {
            margin-top: 0.1rem;
        }
        a {
            text-decoration: none;
            width: max-content;
            height: max-content;
            display: inline-block;
            transition: 0.5s;
            font-weight: bold;
            font-style: normal;
            font-size: $font-size14;
            line-height: $line-height18-2;
            color: $darkgrey;
            &:hover {
                color: $gray82;
                transition: 0.5s;
            }
            &:nth-child(1) {
                margin-right: 0.531rem;
            }
            &:nth-child(3) {
                margin-left: 1.234rem;
            }
        }
    }
}

// downmenu end

// text and map start

.head {
    width: 100%;
    .contact-all {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: $grey;
        position: relative;
        .contact-header {
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 73.125rem;
            height: 27.625rem;
            align-items: center;
            @include respond(laptop){
                width: 90% !important;
                height:340px ;
                .contact-text{
                    margin: 0 !important;
                    font-size: $font-size40 !important;
                    margin: 0 15px !important;
                    width: max-content !important;
                }
                .line{
                    margin: 0 !important;
                }
            }
            @include respond(mobile){
                height: 400px !important;
                justify-content: flex-start !important;
                align-items: flex-start;
                .contact-text{
                    font-size: 37.5px !important;
                    line-height: 46px !important;
                    height: max-content !important;
                    margin-top: 100px !important;
                   
                }
                .line{
                    margin-top: 125px !important;
                    width: 41px !important;
                   &:nth-child(1){
                    display: none !important;
                }
            }}

            .contact-text {
                text-align: center;
                color: $darkgrey;
                width: 25.4rem;
                height: 5rem;
                margin: auto 1.313rem;
                font-size: $font-size64;
                font-weight: $weight700;
                line-height: $line-height80;
                margin-top: 8rem;
                @media only screen and (max-device-width:340px){
                    font-size:10vw !important;
                }
            }
            .line {
                width: 3.063rem;
                border-bottom: 3px solid $green;
                margin-bottom: 6.15rem;
            }
        }
    }
    .contact-map-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        @include respond(laptop){
            .contact-map{
                top: 15rem !important;
                width: 90% !important;
                iframe{
                    width: 100% !important;
                }
            }
            .contact-info{
                        margin-top: 120px !important;
            }
        }
        @include respond(tablet){
            .contact-info{
                width: 90% !important;
                flex-direction: column !important;
                align-items: center !important;
                justify-content: flex-end !important;
                margin-top: 300px !important;
                height: 280px !important;
                > div{
                    width: 210.617px;
                    justify-content: flex-start !important;
                    margin-bottom: 15px !important;

                }
            }
        }
        @include respond(mobile){
            .contact-map{
                top: 12rem !important;
                height: 276px !important;
                iframe{
                    height: 100% !important;
                }
            }
            .contact-info{
                margin-top: 0px !important;
            }
        }
        .contact-map {
            border: 10px solid white;
            background: white;
            position: absolute;
            z-index: 9999;
            top: 27.5rem;

            iframe {
                width: 73.125rem;
                height: 28.125rem;
            }
        }
        .contact-info {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: end;
            width: 43.438rem;
            height: 24rem;
            background: white;
            margin: auto 0;
            padding-bottom: 3rem;
            position: static;
            > div{
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            .contact-info-location {
                width:1.375rem;    
                height: 1.75rem;
                color: $gray82;
                background: url("../img/icons/location.svg");
                background-repeat: no-repeat;
                background-size: cover;
                @include respond(tablet){
                    margin-right: 8px ;
                }
                
            }
            .contact-info-number {
                width: 1.781rem;
                height: 1.75rem;
                color: $gray82;
                background: url("../img/icons/phone.svg");
                background-repeat: no-repeat;
                background-size: cover;
                
            }
            .contact-info-mail {
                width: 1.781rem;
                height:1.281rem;
                color: $gray82;
                background: url("../img/icons/mail.svg");
                background-repeat: no-repeat;
                background-size: cover;
                
            }
            .contact-info-text {
                margin-left: 1.2rem;
                margin-right: 3.125rem;
                font-size: $font-size16;
                font-weight: 400;
                color: $black-gray;
                line-height: $line-height19-7;
                &:last-child{
                    margin-right: 0;
                }
                

                
            }
        }
    }

  
    .sendbox-all {
        width: 100%;
        height: 39.125rem;
        background: $grey;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        position: static;
        box-sizing: border-box;
        @include respond(tablet){
            height: max-content !important;
            padding-bottom: 30px !important;
            input{
                width: 100% !important;
                
            }
        }
        @include respond(mobile){
            margin-bottom: 70px;
        }
        .contact-sendbox {
            text-align: center;
            @include respond (tablet){
                width: 90% !important;
            }


            h1 {
                margin-top: 2.704rem;
                margin-bottom: 0.438rem;
                color: $darkgrey;
                font-size: $font-size30;
                font-weight: $weight700;
                line-height: $line-height37-5;
            }
            p {
                font-weight: $weight400;
                font-size: $font-size16;
                line-height: $line-height20-8;
                color: $gray82;
                margin-bottom: 1.544rem;
            }
            .sendbox-line {
                width: 16.25rem;
                border-bottom: 3px solid $green;
                display: inline-block;
                margin-bottom: 2.313rem;
            }
            .sendbox-inputs {
                @include respond(tablet){
                    width: 100% !important;
                    max-width: 500px !important;
                    flex-direction: column;
                    margin: 0 auto;
                    margin-bottom: 30px !important;
                    .sendbox__name{
                        margin-bottom: 30px !important;
                    }
                    .sendbox__email{
                        margin-bottom: 30px !important;
                    }
                    
                }
                width: 35.625rem;
                height: max-content;
                display: flex;
                justify-content: space-between;
                position: relative;
                margin-bottom: 2.813rem;
                .label{
                        width: 100%;
                        height: max-content;
                        font-style: normal;
                        font-weight: $weight400;
                        line-height: $line-height16-3;
                        font-size: 12px;
                        display: flex;
                        align-items: center;
                        color: $color97;
                        position: absolute;
                        bottom:-50%;
                        left: 0;
                        img{
                            margin-right: 0.344rem;
                        }}
                &:nth-child(5) {
                    margin: 1.875rem auto;
                    margin-bottom: 3.5rem;
                }

                input {
                    width: 16.875rem;
                    height: 3.125rem;
                    outline: none;
                    border: 0.5px solid $formborder;
                    font-size: $font-size16;
                    font-weight: $weight400;
                    font-style: normal;
                    padding-top: 0.938rem;
                    padding-left: 1.375rem;
                    padding-bottom: 0.938rem;
                    line-height: $line-height19-7;
                    &::-webkit-outer-spin-button,
                    &::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                    }
    
                    /* Firefox */
                    &[type=number] {
                    -moz-appearance: textfield;
                    }
                    &::placeholder {
                        color: $placeholdercolor;
                    }
                }
            }
            .sendbox-textarea {
                width: 35.625rem;
                height: 8.063rem;
                margin-top: 1.25rem;
                @include respond(tablet){
                    
                        width: 100% !important;
                        max-width: 500px !important;
                        margin: 0 auto;
                        .textbox-input{
                            width: 100% !important;
                        }
                    
                }
                .textbox-input {
                    width: 35.625rem;
                    height: 8.063rem;
                    outline: none;
                    border: none;
                    font-size: $font-size16;
                    font-weight: $weight400;
                    font-style: normal;
                    border: 1px solid $formborder;
                    padding-top: 1.5rem;
                    padding-left: 1rem;
                    padding-bottom: 5.938rem;
                    line-height: $line-height19-7;
                    resize: none;
                    overflow:hidden;
                    
                    &::placeholder {
                        color: $placeholdercolor;
                    }
                }
            }
            .sendbox-submit {
                display: flex;
                justify-content: center;
                @include respond(tablet){
                    input{
                        width:60% !important;
                    }
                }
                input {
                    background-color: $green;
                    width: 16.25rem;
                    height: 3.125rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: none;
                    color: white;
                    font-size: $font-size16;
                    line-height: $line-height19-7;
                    margin-top: 1.75rem;
                    transition: 0.5s;
                    border-radius: 3px;
                    &:hover {
                        background-color: $darkgreen;
                        cursor: pointer;
                        transition: 0.5s;
                    }
                }
            }
        }
    }
}
// text and map end
@include formanimation;


.sendbox__name,.sendbox__surname,.sendbox__email,.sendbox__number,.sendbox-textarea{
    position: relative;

}



.popup__all{

.name__field,.surname__field,.email__field,.number__field,.textarea{
    position: relative;

}
    @extend %popup__all;
}

   
   
.fixed__footer{
    @extend %fixed__footer;
    .btn1{
        background-color: white;
        color: $green;
        width: 110px;
        height: 40px;
        display: block;
        position: static;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 20px;
        
    }
}

// footer

footer {
    @extend %footer;
}

