$font: 'Roboto', sans-serif;

// font-size
$font-size14:0.875rem;
$font-size15:0.938rem;
$font-size16:1rem;
$font-size40:2.5rem;
$font-size64:4rem;
$font-size48:3rem;
$font-size18:1.125rem;
$font-size20:1.25rem;
$font-size30:1.875rem;
$font-size36:2.25rem;
$font-size24:1.5rem;
$font-size35:2.188rem;

// font-weight
$weight300:300;
$weight400:400;
$weight500:500;
$weight600:600;
$weight700:700;
$weight800:800;
$weight900:900;

//font-line 
$line-height18-5:1.156rem;
$line-height50:3.125rem;
$line-height25-6:1.6rem;
$line-height19-7:1.231rem;
$line-height60:3.75rem;
$line-height17-5:1.094rem;
$line-height23-4:1.463rem;
$line-height18-2:1.138rem;
$line-height80:5rem;
$line-height26:1.625rem;
$line-height20-8:1.3rem;
$line-height45:2.813rem;
$line-height17-3:1.081rem;
$line-height34-4:2.15rem;
$line-height30:1.875rem;
$line-height24:1.5rem;
$line-height45-5:2.844rem;
$line-height52:3.25rem;
$line-height22-4:1.4rem;
$line-height37-5:2.344rem;
$line-height16-3:1.019rem;


