@import "./colors.scss";
@import "./font.scss";
@import "./reset.scss";
@import "./extend.scss";
@import "./breakpoint.scss";

*{
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: fit-content;
    font-family: $font;
    overflow-x: hidden ;
   
}

html{

    @include respond(lgscreen) {
        font-size: 16px;
        
  }

    @include respond(desktop) {
      font-size: 12.7px;
      
}
@include respond(laptop) {
    font-size: 16px;
    
}
   

}

button, input, select, textarea {
    font-family: $font;
}
::-webkit-input-placeholder {
    font-family: $font;
}
:-moz-placeholder {
    font-family: $font;
}
::-moz-placeholder {
    font-family: $font;
}
:-ms-input-placeholder {
    font-family: $font;
}

::selection {
    background-color: $green;
    color: #fff;
}
.loader{
    @extend %loader;
}
.wrapper-finish{
    display: none;
 }
 .wrapper-animation{
     animation: wrapperanima 1s linear;
 }
 @keyframes wrapperanima{
     0%{
         opacity: 1;
     }
     100%{
         opacity: 0;
     }
 }

header{
    width: 100%;
    height: max-content; 
    position:absolute;
    top: 0;
    z-index: 9999;
    background-color: $navgrey;
    border-bottom: 1px solid #ccccccc7;
    
}

.navbar{
   @extend %navbar;
   a:nth-child(1){
    display: block !important;
}
   i{
       color: $darkgrey;
   }
   ul{
       li{
           position: relative;
           a{
           color: $darkgrey !important;}
       }
    li:nth-child(3){
        a{font-weight: $weight400 !important;
            &:hover{
                color: $darkgrey !important;
            }
        }
        
span{
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    margin: 0 auto;
    margin-top: 0.313rem;
    width: 2.688rem;
    height:0.188rem ;
    background-color: $green;
}
}

}
   
}

.mobile__navbar{
    @extend %mobile__navbar;
    display: none;
    transition:0.5s;
}

.mobile__navbar__active{
    display:block;
    animation: navbar__menu__animation 0.5s linear;
    transition: 0.5s;
}

@keyframes navbar__menu__animation{
    0%{
        transform: translateX(-100%);
        opacity: 0;
        
    }
    100%{
        transform:translateX(0%);
        opacity:1;
        
}
}
// downmenu

.downmenu{
    width: 100%;
    height: 6.25rem;
    margin-top: 6.625rem;
    @include respond(laptop){
        display: none !important;
    }
    &__wrapper{
        width: 73.125rem;
        height: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        img{
            margin-right: 1.234rem;
            margin-top: 0.1rem;
            margin-left: 0.531rem;
        }
        a{
            text-decoration: none;
            width: max-content;
            height: max-content;
            display: inline-block;
            transition: 0.5s;
            font-weight: bold;
            font-style: normal;
            font-size: $font-size14;
            line-height: $line-height18-2;
            color:$darkgrey;
            &:hover{
                color: $gray82;
                transition: 0.5s;
            }
           
            
        }
    }
}

// programssection



.groups{
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: flex-end;
    position: relative;
    background-color: $grey;
    @include respond(laptop){
        background-color: unset !important;
        
    }
    &__left{
        width:73.125rem;
        height: 100%;
        margin: 0 auto;
        padding-top: 7rem;
        padding-bottom: 7.313rem;
        @include respond (laptop){
            width: 90% !important;
            padding: unset !important;
            margin-top: 300px !important;
           
            &__wrapper{
                width: 100%!important;
               
                background-color: $grey;
                padding: 4% !important;
                
                &__up{
                    h1{
                       font-size:$font-size40!important;
                       margin-right: 30px !important;
                    }
                }
            }
        }
        @include respond (mobile){
            width: 90% !important;
            margin-left:0 auto !important;
            margin-top: 247px !important;
            &__wrapper__up{
                margin-bottom: 0 !important;
                h1{
                    font-size: 37.5px !important;
                    margin-right: 10px !important;
                }
                &__stroke{
                    width: 41px !important;
                }
            }
        }
        &__wrapper{
            width: 37.5rem;
            height:max-content;
            padding-right: 3.75rem;
           
            
            &__up{
                width: 100%;
                height: max-content;
                display: flex;
                align-items: center;
                margin-bottom: 1.875rem;
                h1{
                    font-weight: $weight700;
                    font-style: normal;
                    font-size: $font-size64;
                    line-height: $line-height80;
                    color: $darkgrey;
                    margin-right: 3.438rem;
                    margin-left: -0.2rem;
                  
                }
                &__stroke{
                    width: 6.375rem;
                    height: 0.188rem;
                    background-color: $green;
                    margin-top: 0.5rem;
                }

            }
            &__text{
                font-weight: $weight400;
                font-style: normal;
                font-size: $font-size16;
                text-align: justify;
                line-height: $line-height25-6;
                color: $darkgrey;
            }
            
        }
    }
    &__img{
        width:49.2vw;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        @include respond(laptop){
            width: 100% !important;
            height: 42vw !important;
            z-index: -5;
        }
        @include respond(tablet){
            width: 100% !important;
            height: 70vw !important;
            z-index: -5;
        }
        @include respond(mobile){
            height: 88vw !important;
            margin-top: 60px!important;
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            
        }
    }
}

// tabsection
.tabs{
    margin-top: 7.5rem;
    width: 100%;
    height:min-content;
    border: none;
   @include respond(mobile){
       margin-top: 40px !important;
   }
    .tab__active{
        
        .tab__icon{
            transform: rotate(180deg);
            transition: 0.5s;
            color: $darkgrey;
        }
    }
    .tab__dropdown{
        display: none;
        @include respond(tablet){
            display: block !important;
            width: 100%;
            height: 40px;
            
            cursor: pointer;
            .select{
                width: max-content;
                align-items: center;
                height: 100%;
                margin:0 auto !important;
                display: flex;
                border: unset !important;
                .tab__icon{
                    transition: 0.5s;
                    width: max-content;
                    height: max-content;
                    
                }
            
            span{
                font-weight: $weight700;
                font-style: normal;
                font-size: $font-size24;
                line-height: $line-height30;
                transition: 0.5s;
                cursor: pointer;
                color: $darkgrey;
                margin-right:10px ;}}

                &-menu{
                    width: 100%;
                    background-color: $green;
                    position: relative;
                    z-index: 5;
                    height: 110px;
                   
                    display: none;
                    padding-top: 20px;
                    li{
                        width:162.817px !important;
                        margin:0 auto !important;
                        display: flex;
                        justify-content: flex-start;
                        font-weight: $weight700;
                        font-style: normal;
                        font-size: $font-size24;
                        line-height: $line-height30;
                        transition: 0.5s;
                        color:white !important;
                        cursor: pointer;
                        margin-bottom: 8px !important;
                      
                    }
                }
        }
        @include respond(mobile){
            
            &-menu{
                
                
                li{
                    
                   
                   justify-content: flex-start !important;
                }
            }
        }
    }

    &__header{
        width: 100%;
        height: 3.125rem;
       @include respond(tablet){
           display: none !important;
       }
        &__wrapper{
            width: 49.688rem;
            height: 100%;
            display: flex;
            justify-content: space-between;
            margin: 0 auto;
            @include respond(laptop){
                width: 90% !important;
                
            }
            @include respond(tablet){
                width: 100% !important;
                margin: unset !important;
                position: absolute;
                top: 100px;
                display: flex;
                flex-direction:column !important;
                text-align: center;
                
                
            }
            &__all{
                font-weight: $weight700;
                font-style: normal;
                font-size: $font-size24;
                line-height: $line-height30;
                transition: 0.5s;
                cursor: pointer;
                color:lighten($darkgrey,50%);
                
            }
            &__active{
                font-weight: $weight700;
                font-style: normal;
                font-size: $font-size24;
                line-height: $line-height30;
                transition: 0.5s;
                color: $darkgrey;
                cursor: pointer;
                
                
            }
        }
    }


    &__indicator{
        width: 100%;
        height: 0.25rem;
        background-color: $line-gray;
        &__wrapper{
            width:  49.688rem;
            height: 100%;
            margin: 0 auto;
            display: flex;
            position: relative;
            @include respond(laptop){
                width: 100% !important;
                margin: unset !important;
            }
            &__item{
                width: 11.875rem;
                height: 100%;
                background-color: $green;
                transition: 1s;
                position: absolute;
                transform: translateX(-10%);
                @include respond(laptop){
                    left: 3%;
                    transform:unset!important;
                }
                @include respond(tablet){
                    width: 100% !important;
                    left:0 !important
                }
            }
        }
    }
}
.tabs__wrapper__active{
    opacity: 1;
    transition: 0.5s;
}
.double{
    @extend %double;
    height: fit-content;
    margin-top: 3.063rem;
    margin-bottom: 7rem;
    .firstbox{
        display: none;
    }
    @include respond(laptop){
        &__main__box{
            width:85% !important;
            gap: 8vw !important;
            margin: 0 auto !important;
            &__item{
                width: 45%!important;
                & > img{
                    width: 100% !important;
                }
                h3{
                    width: 80%!important;
                }
            }
        }
    }
    @include respond(tablet){
        &__main__box{
            width: 60% !important;
            &__item{
                width: 100% !important;
            }
        }

    }
    @include respond(mobile){
        margin-top: 30px !important;
        &__main__box{
            width: 89.33% !important;
        }
    }
    &__main{
        background-color: white !important;
        margin-top: 0;
        
        &__box__item{
            border: 1px solid $formborder;
            transition: 0.5s;
            transform:scale(1)
        }
    }
    .main__active{
        display:flex;
    }
    
}

.popup__all{
    @include formanimation;
.form__item{
    position: relative;
}

.name__field,.surname__field,.email__field,.number__field,.textarea{
    position: relative;

}
    @extend %popup__all;
}

.fixed__footer{
    @extend %fixed__footer;
    .btn1{
        background-color: white;
        color: $green;
        width: 110px;
        height: 40px;
        display: block;
        position: static;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 20px;
        
    }
} 

footer{
    @extend %footer;
    }

