@import "./colors.scss";
@import "./font.scss";
@import "./reset.scss";
@import "./extend.scss";
@import "./breakpoint.scss";

*{
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: fit-content;
    font-family: $font;
    overflow-x: hidden;
   
    
   
}

html{

    @include respond(lgscreen) {
        font-size: 16px;
        
  }

    @include respond(desktop) {
      font-size: 12.7px;
      
}
@include respond(laptop) {
    font-size: 16px;
    
}
   

}

button, input, select, textarea {
    font-family: $font;
}
::-webkit-input-placeholder {
    font-family: $font;
}
:-moz-placeholder {
    font-family: $font;
}
::-moz-placeholder {
    font-family: $font;
}
:-ms-input-placeholder {
    font-family: $font;
}
::selection {
    background-color: $green;
    color: #fff;
}

.loader{
    @extend %loader;
}
.wrapper-finish{
    display: none;
 }
 .wrapper-animation{
     animation: wrapperanima 1s linear;
 }
 @keyframes wrapperanima{
     0%{
         opacity: 1;
     }
     100%{
         opacity: 0;
     }
 }

header{
    width: 100%;
    height: max-content; 
    position:absolute;
    top: 0;
    left:0;
    z-index: 9999;
    background-color: unset;
        
    
}

.navbar{
   @extend %navbar;
   
}


// swiper
.mySwiper{
    width: 100%;
    height: 100%;
    top: 0;
    
   
    .swiper-wrapper{
        width: 100%;
        height: 62.5rem;
       
        .swiper-slide{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: flex-end;
            .header-wrapper{
                width: 73.125rem;
                height: max-content;
                margin-bottom: 10.188rem;
                margin-left:  auto;
                margin-right: auto;
                position: relative;
                z-index: 9999;
            .header__content{
                width: 33.063rem;
                min-height: 17.125rem;
                height: max-content;
                display: flex;
                flex-direction: column;
               
                
                
                h1{
                   
                    font-weight: 700;
                    font-style:normal;
                    font-size: $font-size40;
                    line-height: $line-height50;
                    width: inherit;
                    color: white;
                    margin-bottom: 2.25rem;
                    
                    
                }
                p{
                    
                    font-weight: 400;
                    font-size:$font-size16;
                    line-height: $line-height25-6;
                    font-style: normal;
                    color: white;
                    width: inherit;
                    margin-bottom: 2.25rem;
                   

                }
                a{
                    width:10.625rem;
                    height: 3.125rem;
                    background-color: $green;
                    color: white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 25px;
                    text-decoration: none;
                    transition: 0.5s;
                    font-weight:$weight700;
                    font-style: bold;
                    font-size: $font-size16;
                    line-height: $line-height19-7;
                    &:hover{
                        background-color: $darkgreen;
                        transition: 0.5s;
                    }
                    
                }
            }}
            img{
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -5;
                object-fit: cover;

            }
        }
    }
    @include respond(laptop) {
        .swiper-wrapper{
            height:70vw;
            margin-top: 40px !important;
           
        
        .header__content{
            margin-left: 10%;
            justify-content: flex-end;
            h1{
                font-size: $font-size30 !important;
                margin-bottom: 1.8rem !important;
                
            }
            p{
                display: none;
            }
            a{
                width:8.625rem !important;
                height: 2.125rem !important;
                font-size: $font-size14 !important;
            }
        }
    }
}

    @include respond(tablet) {
        .swiper-wrapper{
            height:60vw;
            margin-top: 20px;
        .header-wrapper{
            display: flex;
            align-items:flex-end;
            height: 100% !important;
            margin-bottom: 10% !important;
        }
        .header__content{
            width: 80% !important;
            min-height: 8.125rem !important;
            margin-left: 10%;
            justify-content: flex-end;
            
            h1{
                font-size: $font-size24 !important;
                margin-bottom: 1rem !important;
                line-height: $line-height30 !important;
                
            }
            p{
                display: none;
            }
            a{
              display: none !important;
            }
        }
    }

    }

    @include respond(mobile){
        .swiper-wrapper{
            height:60vw;
            margin-top: 50px !important;
        .header-wrapper{
            display: flex;
            align-items:flex-end;
            height: 100% !important;
            margin-bottom:  10% !important;
        }
        .header__content{
            width: 80% !important;
            height: 4rem !important;
            min-height:unset!important;
            margin-left: 10.6%;
            justify-content: flex-end;
            
            h1{
                font-size: $font-size18 !important;
                margin-bottom: 7px !important;
                line-height:22.5px !important;
                
            }
            p{
                display: none;
            }
            a{
              display: none !important;
            }
        }
    }

    }


}

.swiper-pagination{
    margin-bottom: 80px;
    span{
        
        width: 30px;
        height: 5px;
        border-radius: 0%;
        background-color: $green;
        
    }
    @include respond(tablet) {
        span{width: 20px;
        height: 3px;}
        margin-bottom: 12px!important;
}

    @include respond(mobile){
        
        span{
            width: 13px;
            height: 2px;
        }
    }

    
}

// logo section
.section-logo{  
    width: 100%;
    position: relative;
   
    .logos{
        width: 73.125rem;
        height: 6.25rem;
        background-color: white;
        position: absolute;
        top: -50%;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        z-index: 9;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        .css{
            width: 44px;
            height: 50px;
        }

        .react{
            width: 55px;
            height: 50px;
            @include respond(laptop){
                width: 50px !important;
            }

            @include respond(mobile){
                width: 40px !important;
            }
        }
    

        
    
}
@include respond(laptop) {
    .logos{width: 90% !important;
    display: flex;
    
    align-items: center;}
    img{
        width: 40px !important;
        height: 50px !important;
    }
    .css{
        width: 40px !important;
        height: 46px !important;
    }

}
@include respond(tablet) {
    height: 70px;
   .logos{ width: 90% !important;
    display: flex;
    height: 5rem !important;
    align-items: center;
    position: absolute;
    top: 0px !important;    
    margin:0 auto;
    box-shadow: unset;
}
    
    img{
        width: 40px !important;
        height: 50px !important;
    }
    .css{
        width: 40px !important;
        height: 46px !important;
    }

}
@include respond(mobile){
    img{
        width: 26px !important;
        height: 30px !important;
    }

.css{
    width: 26px !important;
    height: 30px !important;
}

}  
}

// groups section
.slick-prev{
    width: 30px;
    height: 30px;
    bottom: -60px !important;
    left: 35%;
    top: unset !important;
    position: absolute;
    border-left: 3px solid $green;
    border-top: 3px solid $green;
    transform: rotate(-45deg);
    @include respond(mobile){
        left: 28% !important;
    }
    }

.slick-next{
        width: 30px;
        height: 30px;
        bottom: -60px !important;
        right: 35%;
        top: unset !important;
        position: absolute;
        border-left: 3px solid $green;
        border-top: 3px solid $green;
        transform: rotate(135deg);
        @include respond(mobile){
            right:28% !important;
        }
        }

.btn__bottom{
    width: 89.33% !important;
    min-width: 270px;
    max-width: 375px;
    height: 2.5rem;
    position: absolute;
    bottom: -130px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 3px !important;
    font-weight:$weight700;
    font-style: bold;
    font-size: $font-size16;
    line-height: $line-height19-7;
    background-color: $green;
    text-decoration: none;
    color: white;
    display: none;
    justify-content: center;
    align-items: center;
    margin-top: unset !important;
    transition:0.5s;
    &:hover{
        background-color: $darkgreen;
        transition: 0.5s;
       
    }
}
.active__groups{
    width:100%;
    height: max-content;
    
    @include respond(laptop){
        position: relative;
        
       
        .btn__bottom{
            display: flex !important;
        }
        
    
       
        .active__groups__item__wrapper{
        width:100% !important;
        
        margin:0 !important;
        flex-wrap: nowrap !important;
        display: flex;
        align-items: flex-end;
       
        img{
            width: 100% !important;
            object-fit: cover;
                    }
       
        .slick-slide{
            margin: 0 15px !important;
        }
       
}

        &__main__wrapper{
        width: 100% !important;
        height: max-content !important;
        position:static !important;
        margin: 0 auto;
        margin-top: 60px !important;
        margin-bottom: 20px !important;
        }
        &__main{
        width:60% !important;
        height:max-content  !important;
        position:static !important;
        margin-left: 20px;
        
        &__up__active{
            font-size: $font-size40 !important;
        }

        &__groups{
            font-size: $font-size40 !important;}
        
            a{
               display: none !important;
                
    
            }
        
        }
        

        
    }

    
    @include respond(mobile){
        .active__groups{
            height: max-content !important;
        }
        .active__groups__main__wrapper{
            margin-top: 10px  !important;
            width: 100% !important;
        }
        
        .active__groups__main{
          
                top: 0 !important;
                &__up__active{
                    font-size: 37.5px !important;
                    height: 65px;
                }
                &__up__stroke{
                   width: 41px !important ;
                }
                &__groups{
                    font-size:28.1px !important ;
                    height: 50px;
                    margin-left: 25.78px !important;
                 }

                 p{
                     margin-top: 15px !important;
                 }
                
                }

            &__item{
                // width:230px !important;
                img{
                    width: 100% !important;
                    height: 156px !important;
                    object-fit: cover;
                }
            }

            .btn__bottom{
                height: 50px !important;
                bottom: -140px !important;
            }
    }

    .active__groups__container{
        width: 100%;
        position: relative;
        height: max-content;
       
       
    }
    .active__groups__item__wrapper{
    width:73.3rem ;
    height: max-content;
    margin: 0 auto;
    display: flex;
    gap: 1.875rem;
    flex-wrap: wrap;
    
    .item__disabled{
        visibility: hidden;
        
    }
    
}

    &__main__wrapper{
             width: 73.125rem;
            height: 9.375rem;
            position: relative;

            margin: 0 auto;
    }
    &__main{
        width: 16.875rem;
        height: 16rem;
        position: absolute;
        top:9.375rem;
        left: 0;
        z-index: 1;
        
        
        &__up{
            width:100%;
            height: max-content;
            display: flex;
            align-items: center;
            &__active{
                font-weight:$weight700;
                font-style: normal;
                font-size:$font-size64;
                line-height: $line-height80;
                color: $darkgrey;

            }
            &__stroke{
                    width: 4.375rem;
                    height: 0.188rem;
                    background-color: $green;
                    margin-left: 0.5rem;
                    margin-top: 0.7rem;
            }
        }

        &__groups{
            margin-left: 2.75rem;
            margin-top: -1.8rem;
            font-weight: $weight300;
            font-style: normal;
            font-size: $font-size64;
            line-height: $line-height60;
            color: $darkgrey;
        }
        p{
            color: $gray82;
            font-weight:$weight400;
            font-size: $font-size14;
            font-style: normal;
            line-height: $line-height17-5;
            margin-top: 1.625rem;
        }
        a{
            width: 10.625rem;
            height: 2.5rem;
            border-radius: 25px;
            font-weight:$weight700;
            font-style: bold;
            font-size: $font-size16;
            line-height: $line-height19-7;
            background-color: $green;
            text-decoration: none;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 1.688rem;
            transition:0.5s;
            &:hover{
                background-color: $darkgreen;
                transition: 0.5s;
               
            }
            

        }
    }
    
    &__item{
        width: 16.875rem;
        height: 16rem;
        border: 1px solid $greystroke;
        transition:all 0.5s linear;
        z-index: 0;
      
        
        &:hover{
            box-shadow: rgba(65, 224, 99, 0.4) -5px 5px, rgba(65, 224, 99, 0.3) -10px 10px, rgba(65, 224, 99, 0.1) -20px 20px, rgba(65, 224, 99, 0.05) -15px 15px;
            border: none;
            transition: all 0.3s linear;
            
            
            
        }
        img{
            width: 16.875rem;
            height:9.75rem;

        }
        a{
            text-decoration: none;
            text-align: center;
            display:inline-block;
            width: 100%;
            height: 100%;
            border: none;
            outline: none;
             

        h3{
            margin-top: 1.125rem;
            color: $darkgrey;
            font-weight:$weight700;
            font-size: $font-size18;
            font-style: normal;
            line-height: $line-height23-4;
            
        }
        p{
            color:$gray82;
            font-style: normal;
            font-weight:$weight400;
            font-size: $font-size14;
            line-height: $line-height18-2;
            margin-top: 0.938rem;
        }
        
    }
    }
}

// plannedgroups
.double__main__all{
@include respond(laptop){
        position: relative;
        background-color: $grey;
        margin-top: 200px;
        padding-bottom: 190px;
        .btn__bottom{
            display: none;
        }
        

         .double__main{
                width: 100%;
            padding: 0 0 0 0  !important;
            &__box{
                width:100% !important;
                
                display: block !important;
                
                .slick-slide{
                    margin: 0 15px !important;
                }
                &__item{
                    width: 100% !important;
                    > img{
                        width: 100% !important;
                    }
                   
                }
             }

            &__box__main{
                &__up{
                    font-size: $font-size40 !important;
                }
                &__down__groups{
                    font-size: $font-size40 !important;
                }
                &__down__stroke{
                    width:112px;
                }
                p{
                    margin-bottom: 30px;
                }
                a{
                    display: none;
                }
            }
        }

        .double__main__box__wrapper{
            width: 100% !important;
            height: max-content !important;
            position:static !important;
            margin: 0 auto;
            margin-top: 60px !important;
            margin-bottom: 20px !important;
        }
        .double__main__box__main{
            width:90% !important;
            height:max-content  !important;
            position:static !important;
            margin-left: 20px;
            p{
                width: 80% !important;}
            
    }
    .btn__bottom{
        display: flex !important;
        bottom: 50px
    }

};

@include respond (tablet){
    .double__main__box__main{
        p{
        width: 100% !important;}
    }
        .double__main__box__item{
            width:100% !important;
            height: 380px !important;
            img{
                width: 100%
            }
        }
}

@include respond (mobile){
    
        margin-top:180px !important;
        .btn__bottom{
            height: 50px !important;
        }
        .double__main{
            &__box__main{
                &__up{
                    font-size: 37.78px !important;
                    height: max-content;
                }
                &__down{
                    margin-top: -40px!important;
                }
                &__down__groups{
                    font-size:28.34px !important;
                    height: max-content;
                    margin-left: 6px !important;
                    
                }
                &__down__stroke{
                    width:112px;
                }
                p{
                    margin-top: 8px !important;
                }

            }
            &__box__item{
                width: 100% !important;
                height: 360px !important;
                +img{
                    height:177px !important
                }
                h3{
                    margin-top: 15px !important;
                    margin-left: 22px !important;
                    font-size: 20px !important;
                    width: 87% !important;
                }
                .detail{
                    margin-top: 20px !important;
                }
                

            }
        }
    
}
    @extend %double;
    
    
    .double__main__box__wrapper{
        width: 73.125rem;
        margin: 0 auto;
        height: 6.25rem;
        position: relative;
        .double__main__box__main{
            position: absolute;
            left: 0;
            bottom: -27rem;
        }
    }
    .double__main{
        
        display: flex;
        align-items: center;
        padding-top: 3.688rem;
        padding-bottom: 5.313rem;
        box-sizing: content-box;
        &__box{

            .item__disabled{
                visibility: hidden;
                
            }
        }
        
    }
}

// blogposts

.blog__posts{
    width: 100%;
    height: max-content;
    position: relative;
    
    @include respond(laptop){
            padding-bottom: 80px;
            .slick-slide{
                margin: 0 15px !important;
            }
        .box-text{
            width: 100% !important;
        }
        .box-small{
            width: 100% !important;
            height: 25.625rem !important;
            display: flex !important;
            flex-direction: column;
            
            margin-bottom: 0;
    
            .box-text{
                width: 100% !important;
                height: 16.875rem;
            }
            .box-img{
                height:9.75rem !important;
                width: 100% !important;
            }
            
            
        }


        .btn__bottom{
            display: flex !important;
            bottom: -60px !important;
            margin: 0 auto !important;
        }
        .blog__main__wrapper{
            width:100% !important;
            height:max-content !important;
            position: relative;
            margin: 0 auto;
           
        }
        .blog__posts__main{
        position: static !important;
        width: 55% !important;
        height: max-content !important;
        margin-left: 20px !important;
        margin-bottom: 10px;
        &__up{
            &__stroke{
                width: 43px !important;
            }
            &__blog{
            font-size: $font-size40 !important;}
        }
        &__down{
            margin-top: -40px !important;
           
            &__stroke{
                width: 71px !important;
            }
            &__post{
            font-size: $font-size40 !important;}
        }

        p{
            margin-bottom: 20px !important;
        }

        }

        .blog__posts__wrapper__all{
            width: 100%;
            height: max-content;
            
        }
        .blog__posts__wrapper{
            width: 100% !important;
            display: block!important;
           
            margin-left: 0 !important;
            .blog__posts__main{
                display: none !important;

          }

        }
        .box-big{
            width:16.875rem;
            height:25.625rem;
            margin-top: 0;
            grid-row: 2 / 4;
            
    
        }

        .green__box__link{
            display: none !important;
        }
    }
   
    @include respond(mobile){
        .btn__bottom{
            height: 50px !important;
           
        }
        .blog__posts__main{
           
                position: static !important;
                width: 80% !important;
                height: max-content !important;
               
                margin-bottom: 30px !important;
                &__up{
                    padding-top: 20px !important;
                    &__stroke{
                        width: 43px !important;
                    }
                    &__blog{
                    font-size:37.78px !important;}
                }
                &__down{
                    margin-top: -40px !important;
                    &__stroke{
                        width: 71px !important;
                    }
                    &__post{
                    font-size: 28.34 !important;}
                }
                p{
                    margin-top: 10px !important;
                }
        
                
        }
    }
    .blog__main__wrapper{
        width: 73.125rem;
        height: 5.313rem;
        position: relative;
        margin: 0 auto;
        

       
    }

    .blog__posts__main{
        width: 16.875rem;
        height: 16.875rem;
        position: absolute;
        bottom:-16.875rem;
        &__up{
              width: 100%;
              height: max-content;
              display: flex; 
              align-items: center;
              padding-top: 2.813rem;
              &__blog{
                    font-weight: $weight700;
                    font-style: normal;
                    font-size: $font-size64;
                    line-height:$line-height80;
                    color: $darkgrey;
              }  
              &__stroke{
                  width: 4.5rem;
                  height: 0.188rem;
                  background-color: $green;
                  margin-left: 1.438rem;
                  margin-top: 0.938rem;
              }   
        }

        &__down{
              width: 100%;
              height: max-content;
              display: flex; 
              align-items: center;
              margin-top: -1.688rem;
              
            &__stroke{
                width: 7.563rem;
                height: 0.188rem;
                background-color: $green;
                margin-right: 0.5rem;
                margin-top: 0.625rem;
                


            }
            &__post{
                    font-weight: $weight300;
                    font-style: normal;
                    font-size: $font-size48;
                    line-height:$line-height60;
                    color: $darkgrey;
                
                
            }
        }
        p{
            width: 100%;
            text-align: justify;
            font-weight: $weight400;
            font-style: normal;
            font-size: $font-size14;
            line-height: $line-height17-5;
            margin-top: 1.625rem;
            color:$gray82;
        }
        
    }
    .blog__posts__wrapper__all{
        scroll-behavior: smooth;
         -ms-overflow-style: none;  /* Internet Explorer 10+ */
        scrollbar-width: none;  /* Firefox */
        &::-webkit-scrollbar { 
            display: none;  /* Safari and Chrome */
        }
    }
    .blog__posts__wrapper{
        width: 73.125rem;
        margin: 0 auto;
        height: max-content;
        max-height: 55rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 1.875rem;
        flex-wrap: wrap;
        
        
        .blog__posts__main{
            visibility: hidden;
        }
    }
    .box-small{
        width: 35.563rem;
        height: 16.875rem;
        display: flex;
        grid-column-start: 2;
        grid-column-end: 4;
        margin-bottom: 0;

        .box-text{
            width: 18.688rem;
            height: 16.875rem;
            border: none !important;
        }
        .box-img{
            height:16.875rem;
            width: 16.875rem;
        }
        
        
    }
    .box-big{
        width:16.875rem;
        height:25.625rem;
        margin-top: 0;
        grid-row: 2 / 4;
        

    }
    .box:nth-child(3){
        grid-row: 1 / 3;
    }
   
    .box{
        @extend %box;
        margin-bottom: 0;
        border: 1px solid #3636364D;
        .box-text{
            border-left: none;
            border-right: none;
            height: 15.775rem;
            .buttons{
                cursor: pointer;
                transition: 0.5s;
                @media only screen and (max-width:300px){
                    display: none !important;
                }
            }
        }

        
    }
    .box:nth-child(3){
       
        grid-row:1 / span 2 !important;
        grid-column: 4;
    }
    .green__box__link{
        position: relative;
        width:16.875rem;
        height:16.875rem;
        text-decoration: none;
        display:block;
        margin-top: -10rem;
        z-index: 2;

        &::before{
            content: "";
            background-color: rgba(0, 0, 0, 0.308);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 5;
            opacity: 0;
            transition: 0.5s;
            
            
        }
        &:hover::before{
            content: "";
            opacity: 1;
            transition: 0.5s;
        }
    .green__box{
        width:16.875rem;
        height:16.875rem;
        display: flex;
        flex-direction: column;
        
        background-color: $green;
        h4{
                margin-top: 4.188rem;
                margin-left:5.875rem;
                margin-bottom: -1.688rem;
                font-weight: $weight300;
                font-style: normal;
                font-size: $font-size36;
                line-height: $line-height45;
                color: white;
        }
        .ml{
            color: white;
            margin-left: 1.875rem;
        }
        .mr{
            margin-left: 5.563rem;
            color: white;
            margin-top: -0.938rem;
        }

        
    }}
}

// help

@include formanimation;
.form__item{
    position: relative;
}

.name__field,.surname__field,.email__field,.number__field,.textarea{
    position: relative;

}

.help{
    width: 100%;
    height: 27.813rem;
    background-image: $linear-grey;
    display: flex;
    justify-content: center;
    margin-bottom: 7.5rem;

    
    @include respond(laptop){
        height: max-content !important;
        padding-bottom: 60px;
        flex-direction: column;
        margin-top: 100px !important;
        margin-bottom: 50px !important;
        background-color: $grey !important;
        background-image: none  !important;
        &__question{
            width: 90% !important;
            margin: 0 0 0 20px !important;
            height: max-content !important;
        & > img{
            display: none !important;
        }

        &__up{
            font-size: $font-size40 !important;
        }
        &__down{
            &__stroke{
                    width: 71px !important;
            }
            &__text{
                font-size: $font-size40 !important;
            }
        }

        p{
            margin-left: 0 !important;
            margin-top: 20px !important;
            width: 80% !important;
        }
        }
        .help__form{
            margin:30px auto 0 auto !important;
            width:90% !important;
            max-width: 470px;
        }
        .form__up{
              .form__item {
                width:48% !important;
                & input{
                    width:100% !important;
                }
            }
        }

        .dropdown{
            width: 100% !important;
        }
    }
    
    @include respond(mobile){
        background-color: $grey !important;
        height:670px !important;
        padding-bottom:0 !important;
        margin-bottom:120px!important;
        justify-content: unset !important;
        .submit{
            margin-top: 30px !important;
        }
        &__question{
            &__up{
               
                margin-top: 20px !important;
                font-size: 37.78px !important;
                line-height: unset !important;
                &__address__item{
                    flex-direction: column;
                }
            }
            &__down{
                margin-top: 0 !important;
                &__stroke{
                    width: 18.93% !important;
                    max-width: 71px;
                }
                &__text{
                    font-size: 28.34px !important;
                    line-height: unset !important;
                }
            }
            p{
                width: 90% !important;
            }
        }

        .form__up{
            flex-direction: column;
            .form__item{
                width: 100% !important;
            }
            .form__item:nth-child(2){
                margin-top: 30px;
            }
        }
        .form__down{
            margin-top: 30px !important;
        }
    }
    &__question{
        width: 37.375rem;
        height: 22.688rem;
        position: relative;
        margin-top: 2.563rem;
        
        img{
            position: absolute;
            top: 0;
            left: 0;
            z-index: -5;
            width: 100%;
            height: 100%;
        }
        &__up{
            font-weight: $weight700;
            font-style: normal;
            font-size: $font-size64;
            line-height:$line-height80;
            color: $darkgrey;
            margin-top: 2.75rem;
        }  


        &__down{
            width:100%;
            height: max-content;
            display: flex;
            align-items: center;
            margin-top: -0.938rem;
            &__stroke{
                width: 7.563rem;
                height: 0.188rem;
                background-color: $green;
                margin-top: 0.625rem;
                

            }
            &__text{
               
                margin-left: 0.5rem;
                font-weight: 300;
                font-style: normal;
                font-size: $font-size48;
                line-height:$line-height60;
                color: $darkgrey;
            }
        }
        p{
            width: 21.5rem;
            height: max-content;
            margin-left: 8.063rem;
            margin-top: 3.688rem;
            text-align: justify;
            font-weight: $weight400;
            font-style: normal;
            font-size: $font-size14;
            line-height: $line-height17-5;
            color: $gray82;
        }
        
      
    }
    &__form{
            width: 29.375rem;
            height: 17.813rem;
            margin-left: 6.063rem;
            margin-top: 5rem;
            form{
                width: 100%;
                height: 100%;
                
                .form__up{
                    width: 100%;
                    height: max-content;
                    display: flex;
                    justify-content: space-between;
                    input.form__name{
                        width: 14.125rem;
                        height: 3.125rem;
                        outline: none;
                        border: 1px solid $formborder;
                        font-size: $font-size16;
                        font-weight: $weight400;
                        font-style: normal;
                        padding-top: 0.938rem;
                        padding-left: 1.375rem;
                        padding-bottom:0.938rem ;
                        line-height: $line-height19-7;
                        position: relative;
                        &::placeholder{
                            color: $placeholdercolor;
                        }
                       
                        
                        
                    }

                    .form__surname{
                        width: 14rem;
                        height: 3.125rem;
                        outline: none;
                        border: 1px solid $formborder;
                        font-size: $font-size16;
                        font-style: normal;
                        font-weight: $weight400;
                        line-height: $line-height19-7;
                        padding-top: 0.938rem;
                        padding-left: 1.188rem;
                        padding-bottom:0.938rem ;
                        &::placeholder{
                            color: $placeholdercolor;
                        }
                        
                    }
                }

                .form__down{
                    width: 100%;
                    height: max-content;
                    display: flex;
                    flex-direction: column;
                    margin-top: 1.125rem;
                    .form__email{
                        width: 100%;
                        height: 3.125rem; 
                        outline:none;
                        border: 1px solid $formborder;
                        font-size: $font-size16;
                        font-style: normal;
                        font-weight: $weight400;
                        line-height: $line-height19-7;
                        padding-top: 0.938rem;
                        padding-left: 1.375rem;
                        padding-bottom:0.938rem ;
                        

                        &::placeholder{
                            color: $placeholdercolor;
                        }
                        
                    }

                    .label{
                        width: 100%;
                        height: max-content;
                        font-style: normal;
                        font-weight: $weight400;
                        line-height: $line-height16-3;
                        font-size: 12px;
                        display: flex;
                        align-items: center;
                        color: $color97;
                        margin-top: 0.594rem;
                        img{
                            margin-right: 0.344rem;
                        }
                    }
                    
                }
                span.msg,
span.choose {
  color: #555;
  padding: 5px 0 10px;
  display: inherit
}
.container {
  width: 500px;
  margin: 50px auto 0;
  text-align: center
}

/*Styling Selectbox*/
                    .dropdown {
                    @extend %dropdown
                    
                    }
                    

                .submit{
                    width: 100%;
                    height: 3.125rem;
                    background-color: $green;
                    outline: none;
                    border: none;
                    color: white;
                    font-style: normal;
                    font-weight: $weight700;
                    font-size: $font-size16;
                    line-break: $line-height19-7;
                    transition: 0.5s;
                    margin-top: 1.5rem;
                    border-radius: 3px;
                    &:hover{
                        background-color: $darkgreen;
                        cursor: pointer;
                        transition: 0.5s;
                    }
                    
                }
            }
            
        
    }
}
.popup__all{
    @extend %popup__all;
}


.mobile__navbar{
    @extend %mobile__navbar;
    display:none;
    transition: 0.5s;
   

}

.mobile__navbar__active{
    display:block;
    animation: navbar__menu__animation 0.5s linear;
    transition: 0.5s;
}

.fixed__footer{
    @extend %fixed__footer;
    .btn1{
        background-color: white;
        color: $green;
        width: 110px;
        height: 40px;
        display: block;
        position: static;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 20px;
        
    }
}

@keyframes navbar__menu__animation{
    0%{
        transform: translateX(-100%);
        opacity: 0;
        
    }
    100%{
        transform:translateX(0%);
        opacity:1;
        
}
}


footer{
    @extend %footer;
    }

   
